[2019-01-04 05:15] Wayne-Mather opened #1 "DbConnection"
Hi,

I was just starting to look at your code as I am about to build a DW and decided on .NET core for performance of in-memory operations. Was looking at your code and some interesting stuff in there.

I have not completely gone through it all but was just looking at your DbConnection class and specifically Open(). It looks like you expect your end users to know what they are doing and do things

[2019-01-04 20:05] roadrunnerlenny commented on #1
Hi,

thank you for your constructive feedback! I am happy that you were able to find some interesting parts in my code.

I just looked at the `DBConnection` class again, and it looks like this:

[code]

So actually the developer could call Open() as often as he wants to, if a connection is open there won't be a new connection reopened.

But you are right, the ExecuteXXX - Statements do not explici

[2019-01-04 21:31] Wayne-Mather commented on #1
Hi,

I think you understood what I was saying and there is a potential I am wrong and not understanding your code correctly.

In DbConnectionManager the code looks like this:

[code]

Would this not create a new Connection() object each time? From your example code that object would be a new SqlConnection object and this object implements IDisposable.

So correct me if I am wrong but is the code n

[2019-01-04 22:56] roadrunnerlenny commented on #1
Hi,
thank you for the clarification . Now I think I really got your point.
You basically pointed out that the check `IsConnectionOpen` is actually a check on the `DBConnection` object: `DbConnection?.State == ConnectionState.Open;` So doing this check right after creating a new instance is more or less useless - a new `DBConnection` object (especially without any ConnectionString parameter set) wi

[2019-01-05 00:38] Wayne-Mather commented on #1
Hi,

These sorts of problems are just experienced once you start writing code others use :)

The same problem can be thought of about your connection string. If I change the connection string on the manager what is the expectation?

[code]

For your open method I would write something like below - which I have also made it threadsafe-ish...

[code]

I have looked more at your code from a high-leve

[2019-01-05 00:38] #1 closed

[2019-01-06 19:17] roadrunnerlenny commented on #1
Hi,
thank you for your feedback and good advice. I will make a test for the open-connection method as you described it and very likely do some changes to the open-method and the `DBConnectionManager` class as you suggested. Also your comment about the `ConnectionString` is very helpful, I  will have a look into this. Thank you for the good input!

Regarding your general comment about the library -

[2019-01-11 20:13] dcbrewster opened #2 "OBDC Connection"
Need to be able to connect other databases (Access, mySQL, Oracle, etc.) within ETLBox. An OBDC solution is probably acceptable.

[2019-01-11 22:36] anlennar commented on #1
I did some smaller changes to the DBConnectionManager class. The fix is merged into the release branch and will be part of the next version.

I also added some tests, to verify that the DBConnectionManager is working as expected.

Here the case where one connection is opened and then close - the connection pooling will normally keep the connection alive, in case it could be needed again.

[code]

[2019-01-11 22:54] anlennar commented on #2
The idea to solve this is to add additional `ConnectionManager` to the existing ones. E.g. I could provide a `OdbcConnectionManager` or a `MySqlConnectionManager`. An ODBCConnectionManager would have that advantage to work with most of the databases.

I checked how to connect with a Microsoft Access database within .net core - in "regular" .net, this is done with an OLEDB Connection. In current ve

[2019-01-11 22:55] anlennar commented on #2
The idea to solve this is to add additional `ConnectionManager` to the existing ones. E.g. I could provide a `OdbcConnectionManager` or a `MySqlConnectionManager`. An ODBCConnectionManager would have that advantage to work with most of the databases.

I checked how to connect with a Microsoft Access database within .net core - in "regular" .net, this is done with an OLEDB Connection. In current ve

[2019-01-14 15:28] JPaezHTQA opened #3 "DBSource -> RowTransformation -> DBDestination"
Hi all.

Thanks in advance.

I'm trying to get information by SQL Command using DBSource<TOutput>(string Sql), later make a RowTransformation with this information to insert in my DBDestination, but when link the Source with the RowTransformation:

**source.LinkTo(row);**

VS reply with an error, the message is: "Unable to convert: ALE.ETLBox.DataFlow.RowTransformation<int[],EntitiesInfo> to ALE.E

[2019-01-14 17:32] #3 closed

[2019-01-14 17:57] roadrunnerlenny commented on #2
The idea to solve this is to add additional `ConnectionManager` to the existing ones. E.g. I could provide a `OdbcConnectionManager` or a `MySqlConnectionManager`. An ODBCConnectionManager would have that advantage to work with most of the databases.

I checked how to connect with a Microsoft Access database within .net core - in "regular" .net, this is done with an OLEDB Connection. In current ve

[2019-01-14 18:17] roadrunnerlenny commented on #2
I just deleted and reinserted the previous comment because I used the wrong (company) account for the last comment.

I have good news:
I just uploaded version 1.1.0-beta as a pre-release to nuget.org. It takes about 1 hour until the package can be directly downloaded.
Also, the current master branch will contain the changes.
You can download the package with nuget (if you are using Visual Studio,

[2019-01-14 18:18] roadrunnerlenny commented on #1
I did some smaller changes to the DBConnectionManager class. The fix is merged into the release branch and will be part of the next version.

I also added some tests, to verify that the DBConnectionManager is working as expected.

Here the case where one connection is opened and then close - the connection pooling will normally keep the connection alive, in case it could be needed again.

[code]

[2019-01-14 18:21] roadrunnerlenny commented on #3
Hi all,
seemed you already could solve the issue. Meanwhile I had the chance to write an example code that perhaps helps to clarify things:

[code]

[2019-01-17 21:40] roadrunnerlenny commented on #1
Hi,
you are right, the dispose of the command is currently not happening. I did a quick research on google, it looks like that the dispose function of the command does not really do much. But still it is a `IDisposable` object and it should be either wrapped in a using block or the dispose method should be called. So I will definitively add this to the ExecuteXXX functions, thanks for the hint!

[2019-01-17 21:42] roadrunnerlenny commented on #2
Were you able to test the new ConnectionManagers?

[2019-01-18 16:03] dcbrewster commented on #2
Working on it.
Having problems with 32 vs 64 bit.
Visual Studio compile to 32bit .netcore not working.
Can’t seem to get Access 32 and 64 bit living side by side on machine.
Working through all the suggestions/work arounds that I have found to date.

Dave

[2019-01-19 13:59] roadrunnerlenny commented on #2
In order to test the connection to an access database I uninstalled my Office 32bit and re-installed Office in 64 bit. After that, I installed the [Microsoft Access Database Engine 2010 Redistributable](https://www.microsoft.com/en-us/download/details.aspx?id=13255) which contains the  64 bit ODBC driver for access. Worked on my machine.
Let me know if you have issues.

[2019-03-25 09:32] MichaelTheBeast opened #5 "ClassMap"
Hi

I've recently started an ETL project and I'm looking into the possibilities of ETLbox.
So far it is looking very good, but I'm having some difficulties with the following scenario:

The CsvSource output is a string array, which gives the RowTransformation this form:
`RowTransformation<string[], MyData> row = new RowTransformation<string[], MyData>
(
    input => new MyData()
    { Col1 = input

[2019-03-25 22:37] roadrunnerlenny commented on #5
Hey Michael,

Thanks for your interest in ETLBox!

You are absolutely right, if you would have an input file with like 50 fields, a string array would be hard to manage. And I agree, the generic `CsvSource` with `TOutput` would require the properties names exactly to match the field names in the csv file, there is currently no other mapping functionality implemented.
I just had a look at the Class

[2019-03-26 09:34] MichaelTheBeast commented on #5
Hi Roadrunner

Thank you for the quick reply.
Here is a link to the autogenerator:
[https://toolslick.com/generation/code/class-from-csv](url)
It generates a Poco from the given Csv-file AND a classmap to use with CsvHelper :)

Regarding the normalization from a single Csv-file to multiple entities/tables...
Multicast might be the right way to go; I was not aware that I can choose which fields/col

[2019-03-26 16:09] jpaterson-vdc opened #6 "WebAPI/REST Source"
I would like to a WebAPI/REST data source.  I see that "custom" sources can be created, can you provide an example?  I am accessing a REST API from Amazon (Amazon Advertising API) and loading data into a SQL Server database.

[2019-03-26 19:44] roadrunnerlenny commented on #6
Hey JPaterson,
i just created a test (in the dev branch) that gives you an example how to consume a Rest API and to store the data in a table.

https://github.com/roadrunnerlenny/etlbox/blob/33933ae2b4a3707bcb4e2f40f3976f7c68932039/ETLBoxTest/src/DataFlowExamples/TestIssue6_CustomSourceWithWS.cs#L24-L80

I hope this code example is helping you.

I must admit that the CustomSource is kind of tricky

[2019-03-26 20:59] roadrunnerlenny commented on #5
Hey Michael,
regarding the class map functionality from CSVHelper, I was able to add this to the CSVSource as well. Actually, it simplified the code - thanks for the good advice!

Here is the test case that makes use of the mapping attributes:
https://github.com/roadrunnerlenny/etlbox/blob/17e5d0b6cec42b526563d4b1b8ad5c62b4f202e8/ETLBoxTest/src/DataFlow/TestDataFlowCSVSource.cs#L144-L166

And here

[2019-03-26 21:10] roadrunnerlenny commented on #5
Regarding the Multicast:
I am not quite sure if I fully understood your issue here.

So the idea of a multicast is basically to have one input, but two outputs (basically duplicates).
Here's the idea how you would use that Multicast in your scenario:
First of all, you convert your CSV into a POCO
```CSVSource<POCO> source = new CSVSource<POCO>();```
Now let's you want to have particular columns of

[2019-03-26 21:15] roadrunnerlenny commented on #5
One last comment: The support of CSVHelper classmap / CSVHelper mapping attributes for the CSVSource is currently in the dev branch. If it helps you out, I will try to create a new release (version 1.1.2) in the next couple of days so that the changes are available within nuget.

[2019-03-27 12:14] MichaelTheBeast commented on #5
Hey Roadrunner

Good to hear about the new mapping functionality :)

I will try your suggestion with the MultiCast as soon as possible...
My confusion was where to fit the RowTransformation, so your example is quite interesting :)

[2019-03-28 07:51] MichaelTheBeast commented on #5
Unfortunately something is not right...
I have created 2 tables with 4 columns in each (more than needed for this test):
[code]
Then I added the CsvSource:
[code]
The test.csv also contains 4 columns:
[code]
And the TestPoco to receive the data with matching column names:
[code]
And the transformations:
[code]
With the 2 outputs defined as:
[code]
And putting it all together:
[code]
**The expected

[2019-03-28 08:36] roadrunnerlenny commented on #5
When putting it all together, you forget to link the source to the Multicast.

[code]

[2019-03-28 10:48] MichaelTheBeast commented on #5
Aaaah yes and now the data is coming through to the database :)

Next challenge...
Table1:
![image](https://user-images.githubusercontent.com/48888742/55151379-6bd60d80-514e-11e9-875d-89cc36bc69a5.png)
Table2:
![image](https://user-images.githubusercontent.com/48888742/55151427-85775500-514e-11e9-8bd8-cd3306ecc36e.png)

Is there any way of debugging the process? or do you have a suggestion?

[2019-03-28 21:56] roadrunnerlenny commented on #5
Hey Michael,

Thanks for your patience. I added your code as a Test to the project in order to reproduce the error. (https://github.com/roadrunnerlenny/etlbox/blob/master/ETLBoxTest/src/DataFlowExamples/TestIssue5_CSVSourceWithClassMap.cs)

I could reproduce a similar behaviour (actually, I also had values in Col2). But the `DBDestination`did not work as expected - you actually found a bug here. E

[2019-03-29 11:31] MichaelTheBeast commented on #5
Sorry; no visible changes:
![image](https://user-images.githubusercontent.com/48888742/55229759-2e40b580-521e-11e9-974b-2f4a5694e2af.png)
except this:
[code]

[2019-03-29 19:31] roadrunnerlenny commented on #5
Hey Michael,

that is strange. I created a test case which basically does the things as described above:
https://github.com/roadrunnerlenny/etlbox/blob/516854d8540057706a595c90ee3694666cbac4fd/ETLBoxTest/src/DataFlowExamples/TestIssue5_CSVSourceWithClassMap.cs#L67-L141

When I run the test, this is what I get in the tables:
<img width="242" alt="grafik" src="https://user-images.githubusercontent.c

[2019-03-31 19:20] MichaelTheBeast commented on #5
Hey Roadrunner

I've got an explanation now...
Apparently it is required to specify the schema, I've assumed that dbo was default.

So onward to the next issue :)
As a proof of content I've tried to add file-logging to the test, but nothing happens and no errors.
I've created a nlog.config like this:
[code]
I've added
`LogTask.Debug("Test startet");`
And
`var logTask = new LogTask("New LogTask..."

[2019-04-01 14:47] roadrunnerlenny commented on #6
Hey JPaterson,

did that solve your issue?

[2019-04-01 15:17] roadrunnerlenny commented on #5
Hey Michael,

that by default the dbo schema is not used is actually a bug that I will fix in the next release.  Thanks for finding out!
I had a look at the nlog configuration, I think there are two issues here.
First, you should add the the internal exception log from nlog to the nlog tag, so that it looks like this:
[code]
You will then find a file console-example-internal.log that contains exce

[2019-04-02 06:43] MichaelTheBeast commented on #5
Thank you Roadrunner

I have logfiles now :)
It was the internal log that did it.

[2019-04-02 09:21] MichaelTheBeast commented on #5
Hi again

What about handling relations...
I have a one-to-many relation so I'm thinking of having 2 RowTransformations (1 for the parent and 1 for the child):
[code]

[2019-04-02 18:18] roadrunnerlenny commented on #5
Hey Michael,

I think this is a typcial ETL issue you have here - something where also SSIS (an ETL tool from Microsoft) would give several approaches to solve this.

First of all, you could think of "staging" all your data first - just store the data in a table, where you have a primary key with identity auto increment defined. (It should be of database type INT, if you use a UNIQUEIDENTIFER you

[2019-04-02 18:20] #6 closed

[2019-04-03 12:57] MichaelTheBeast commented on #5
Very intriguing; that might be useful.

But before I dive into that:
I have removed the constraints between the tables in the database (a staging database)...
But is it possible to avoid duplicate entries (the file contains both parent and children)?
[code]

[2019-04-03 16:39] roadrunnerlenny commented on #5
Hey Michael,

the `BlockTransformation` could help you there as well as you would have a List containing all items, and you could filter out duplicates in there and return the new List.

If you really want to do it in your flow without stopping it (meaning to wait for all data to be loaded and then change the whole List) you can use the `RowTransformation` in combination with the predicates. A pre

[2019-04-04 12:49] MichaelTheBeast commented on #5
Hey Roadrunner

Good plan, didn't work ;)

Isn't the BlockTransformation "just" creating a new version of the Poco itself?
[code]
The Rowtransformation (I have removed the second RowTransformation for simplicity, but kept the MultiCast):
[code]
And the plumbing:
[code]

But the destination never returns.
I wonder if it's something crazy like 'IsDuplicate' has to exist in the database-table.

[2019-04-04 20:31] roadrunnerlenny commented on #5
Hey Michael,

I did write a test that contained the code from my previous answer. I had the same behavior - the destination never returned. This is because the destination does wait for the completion message from the source - and the completion message is only received if all items in the pipe where processed.
But because of the filter only some of the rows are the processed - the rest is "stuck"

[2019-04-05 19:10] weedkiller opened #7 "How to do aggregation functions / Sum or Count or Avg"
Hi I need to perform a sum on import, how can I set that up with your lib?

thanks

[2019-04-07 15:50] roadrunnerlenny commented on #7
Hey Weedkiller,

I assume you want to do the sum, count or avg in a dataflow. In a dataflow data is written into the destination while simultaneously it is read from the source. That means, if you want to do a sum, count or avg calculation, you need to have a component that "stops" the dataflow, wait until all data is loaded into memory, does the calculation and then continues writing the data int

[2019-04-07 19:59] weedkiller commented on #7
Great, 👍 to clarify once I stop the dataflow - I would have write my summation or other function inside the `BlockTransformation` here you showed me count, I would do a sum correct?

- [ ] Another question, is there anyway using your lib, to create a strongly typed datatype / POCO object like CHO Etl[ (here on github on the fly)](https://github.com/Cinchoo/ChoETL/issues/25#issuecomment-447585168)

[2019-04-07 20:37] roadrunnerlenny commented on #7
Exactly, a sum would be calculated at the exact same place where I did the count(). (E.g., something Like `inputList.Select ( poco => poco.intValue ).Sum()`

Regarding your second question, I'm not quite sure what you want to archive. Basically, if you don't know the datatype of source data, I would recommend that you start treating your data as string array. That means you would just use the non-

[2019-04-07 21:11] weedkiller commented on #7
Hi @roadrunnerlenny, Its only for the first read of a CSV file that we need to the data type.

Summary: just for the first time: I use the CSV file to create a new `POCO` object on the fly with the col's as datatypes. I do this by scanning the first few rows (5 or 10 rows) and then figure out datatype (Cho ETL) gives me the data type, he has a nice function to get it with the snippet of code.

Usi

[2019-04-08 19:24] roadrunnerlenny commented on #7
Hey Weedkiller,

here is a solution that could solve your problem just to read the first rows of a CSV. In a `CSVSource`, you can set up a Configuration that defines which records to read and which to skip.

[code]

But as the underlying tool to read CSV file is the [CSVHelper library](https://joshclose.github.io/CsvHelper/), I would recommend that you directly use this library just to scan the fi

[2019-04-08 19:25] roadrunnerlenny commented on #5
Hey Michael,

were you able to make things work?

[2019-04-10 08:40] MichaelTheBeast commented on #5
Hey Roadrunner

Sorry for the late reply...
I fear it's evolving out of control.

An example of what I hope to achieve:

- 1 Csv-file containing 100.000 records in 40 columns.
- Transformed into a List<Poco> with 100.000 instances of the Poco with 40 properties.
- The List<Poco> transformed into 4 Entities with different number of instances and properties.
- And then persisting the 4 collections o

[2019-04-10 14:39] roadrunnerlenny commented on #5
Hey Michael,

this Plan Sounds good. The only thing I see here is that you would need 3 multicasts instead of one.

In the current version a multicast has one input and two outputs. So if you would like to have a multicast with one input and 4 outputs, you basically have to take one multicast and connect each output to another multicast. This way you get 4 outputs with the same object/data.

I wil

[2019-04-13 09:30] roadrunnerlenny commented on #5
Hey Michael,

I just edited my previous comment. The current `Multicast` implementation does allow to connect it with as many targets as you want. Therefore, you will need only 1 Multicast which is linked 4 times to your destinations.
I wasn't aware of this because the implementation heavily depends on the `BroadcastBlock` from the TPL.Dataflow library. I just added a test and it works to connect

[2019-04-13 09:32] roadrunnerlenny commented on #7
Hey Weedkiller,
were you able to solve your problem?

[2019-04-18 21:43] weedkiller commented on #7
thanks, it comes close! 🤗

wish list: would be nice to see this natively in you lib, did you see the link i attached.

[2019-04-18 21:43] #7 closed

[2019-04-20 07:16] #5 closed

[2019-04-22 00:55] smmarrocco opened #8 "Skip and/or Ignore Lines in flat/csv files"
Great project! looking into using it for one of our ETL pipelines. After going through the documentation and examples, I'm not entirely clear on how I can skip/ignore lines? Would this be done via RowTransformation?

For a bit of an example, some of the source files received will include a tail or footer. Along with some not containing headers or containing headers and others with headers that con

[2019-04-22 09:02] roadrunnerlenny commented on #8
Hey,

thanks for you comment! You closed the issue right after raising it, did that mean you could already solve your issue or did this happen accidentally?

Just in case you are still having problems to skip rows in the source files, here are three examples that could help you.

1. I just added (again) the Property `SkipRows` to the `CSVSource`. The default value here is 0. If you set a value gre

[2019-05-01 12:54] #8 closed

[2019-05-15 10:15] liborpolansky opened #9 "Destination to json file"
Hi,
is there any example how to transfer data to json file? Thank you

[2019-05-17 09:37] roadrunnerlenny commented on #9
Hey, thanks for your question. You would need to use a CustomDestination for that. I can prepare an example for that in the next days.
In the meanwhile, have a look at issue 6 (https://github.com/roadrunnerlenny/etlbox/issues/6) which is showing a similar approach for consuming a web service with the CustomSource.

[2019-05-19 22:23] roadrunnerlenny commented on #9
Hi,
sorry for the delay answering you.
Here comes the promised example.
Let's assume you have dataflow where you want to read data from a database table and write them into one json file. Here is how the code could look like:

[code]

This example reads all rows from `table1` and write them into a json string variable. When it did read all data, it will write the result into a file called result.j

[2019-05-20 08:14] anlennar commented on #9
In the example above the formatting is a little bit mixed up.
I added a test case that does the formatting right:
https://github.com/roadrunnerlenny/etlbox/blob/41ff60f6af6daffd85cfb703a3002317ebbd914d/ETLBoxTest/src/DataFlow/TestDataFlowCustomDestination.cs#L56-L76

it basically stores all rows in a List object. When all rows reached the destination, it will then use the JsonConvert method to cre

[2019-05-20 08:51] anlennar commented on #9
As this was a very good question, I also extended the documentation:
https://etlbox.net/articles/example_json_as_destination.html
Thanks for your feedback!

[2019-05-20 08:51] #9 closed

[2019-05-21 10:46] liborpolansky commented on #9
Hi, thank you for quick response! I use it for my solution.

[2019-05-21 11:14] liborpolansky opened #10 "Work with connection sources"
Hi,
I have a question regarding work with the more than one db connections in ETL box.

I need 3 connections in ETL process:
1) source db connection - to export data from the source db
2) destination db connection (this is not the same db server connection as is source)
3) db for log tables - I can't log to the same db as destination db

Could you describe me the sequence of steps how I should use

[2019-05-22 06:57] roadrunnerlenny commented on #10
Hi,
Thanks again for your question. This is a good one, and I see again that the documentation is missing examples here. But let me assure you that I designed the framework having in mind that data needs to be transferred over DB or Server borders.
The idea in ETLBox is that every object (ControlFlow and Dataflow) always extend GenericTask which has a ConnectionManager property. Basically the idea

[2019-05-24 19:22] roadrunnerlenny commented on #10
Sorry for the delay coming back to you.
I was able to fix two minor bugs, and prepare two cases that demonstrate the use of the ConnectionManager to transfer data across databases.
 I also updated the documentation: (https://etlbox.net/articles/example_different_dbs.html)

Here are the two test cases that I added and demonstrate how to use the different Connections:
1)
https://github.com/roadrunne

[2019-05-24 19:23] roadrunnerlenny commented on #10
Please make sure to download the latest version (1.2.2) - I just released a new version on nuget. (https://www.nuget.org/packages/ETLBox/1.2.2)
The example above will only work with this version.

[2019-05-31 06:11] #10 closed

[2019-06-03 22:48] dquinter opened #11 "Show progress"
Hi Andreas, thans for this marvelous library.

I have a question and maybe you can help me. Is it possible to show some feedback to the user? Something like showing the progress every n records?

Example:
** INFORMATION ** Rows inserted: 1,000. Loading continues... Mon Jun  3 09:05:50 CDT 2019
** INFORMATION ** Rows inserted: 2,000. Loading continues... Mon Jun  3 09:05:57 CDT 2019
** INFORMATION

[2019-06-04 11:50] roadrunnerlenny commented on #11
Hey Daniel,

Thanks for your interest in my ETL library! Currently, the Dataflow has no logging implemented that would display the current progress in a data flow.

But I like the idea, as it could be very helpful. I am currently thinking about having some parameter (e.g. ProgressCount) which could be set either for each object or “globally” in the ControlFlow object as a static property. Then the

[2019-06-04 13:55] dquinter commented on #11
Thanks, great idea!

You are the best :-)

[2019-06-04 23:04] dquinter opened #12 "Can I use ETLBox in standard WinForms project?"
Hi again!

I have a new newbie question.

Can I use this library in a desktop WinForms project?

Thanks  :-)

[2019-06-05 03:44] lwalker-kforce opened #13 "Support for MERGE?"

[2019-06-05 03:44] lwalker-kforce commented on #13
The docs indicate that DBDestination does inserts. Is there a way to do a MERGE instead?

[2019-06-05 03:46] lwalker-kforce commented on #13
The docs indicate that DBDestination does inserts. Is there a way to do a MERGE instead?

[2019-06-05 07:47] roadrunnerlenny commented on #13
HI,
thanks for your interest in ETLBox!
This is a very good question. The option to directly merge (or "Upsert") data from an in-memory dataflow into a database is something which would be very nice to have.

Unfortunately, the short answer to your question is: No, there is no support for a merge or upsert implemented.
The reason for this is that the DB Destination does a Bulk insert into the data

[2019-06-05 07:58] roadrunnerlenny commented on #12
Hi,

currently, the current version of ETLBox does only support .NET Core, as it heavenly depends on .NET core libraries.

I think it should be possible to replace all references to .NET Core libraries to "normal" .NET libraries. (some of them already are .NET standard)

I will play around with this and give you feedback what further actions need to be done to get the library working in a classic

[2019-06-05 13:16] dquinter commented on #12
Hi again.

I'm trying that option, create an .exe file with .NET Core and then call it with Process object.

:-)

[2019-06-05 15:24] lwalker-kforce commented on #13
Yes, it provides the answer I expected. My MERGE data sets are small although there are a lot of sets so I am attempting to accomplish this with some variation of `ExecuteNonQuery`.
_Note the below is incomplete at the moment. I am trying to figure out if I need to reset the `CurrentDbConnection` or if there is a way to do so in the `CustomDestination` like with the `DBDestination`. I'm not even s

[2019-06-05 21:43] roadrunnerlenny commented on #11
Hi Daniel,

I were able to add some extended logging information to all dataflow components. You will now get log messages that contains the number of processed records.
Here an example how it looks like:
<img width="1189" alt="image" src="https://user-images.githubusercontent.com/6517572/58992258-95fd1900-87ea-11e9-90f5-5a7c7c215198.png">

You can define a threshold when you want to display log m

[2019-06-05 22:00] roadrunnerlenny commented on #13
Hi,
I just saw your code and think you came up with a very good solution. The CustomDestination is actually a good approach to solve this problem - I didn't think of that before.

I see that you are using a List a type for the custom destination. Actually, if you don't use a list, but only the object type `Placement family`in your destination, it would make more sense to me. The function in the co

[2019-06-06 03:49] lwalker-kforce commented on #13
Thanks for the tip on the `ConnectionManager`.

It might help to know that I have a `RowTransformation<Placement, List<PlacementFamily>>` in front of the `CustomDestination`. The transform essentially executes a SPROC on the `Placement` and returns 0:n rows of `PlacementFamily`. That is why my input on the `CustomDestination` is a `List<PlacementFamily>`. Let me know if I am approaching that incor

[2019-06-06 16:03] roadrunnerlenny commented on #13
Hey again,

if you call a Stored Procedure within a `RowTransformation` you should be aware that the Stored Procedure is called for every record that goes through the RowTransformation. This could slow down your data flow, but if you deal with small sets of data this should be fine.

If you want to process a whole set of data and pass it to a Stored Procedure (mostly because of performance reasons

[2019-06-06 16:27] roadrunnerlenny commented on #13
Hi again,

I just was able to modify the BlockTransformation that it allow not only to return the same object type, but also allows to return a list with different output type. It would look like this:
[code]
I would add some tests and release a new version pretty soon. (1.2.4)

[2019-06-06 18:31] roadrunnerlenny commented on #13
Just uploaded version 1.3.0 which contains the extended BlockTransformation.

[2019-06-06 21:10] lwalker-kforce commented on #13
I'll give it a look/try. My transform is accepting a single row, doing a lookup to get multiple rows back. (e.g. for every placement id of x, find all related placements to it where linktoplacement = x. So, the SPROC would take a single ID and provide multiple records as a response. Will the BlockTransform still be approprate?

[2019-06-07 07:24] roadrunnerlenny commented on #13
Currently, when you call a Stored Procedure within a row transformation, you will call it for every records which goes through the Row Transformation. So, when you receive 10 rows of Placement, you will call the SPROC 10 times, each time with a new ID. (As a result you would get 10 Lists of PlacementFamily)
This works fine for a small amount of data, e.g for 1000 or even perhaps 10.000 rows. But t

[2019-06-12 06:15] roadrunnerlenny commented on #12
Any success with using the Process object in .NET to start a .NET core application?

[2019-06-12 06:16] #11 closed

[2019-06-12 15:02] dquinter commented on #12
Yes, I'm running tests, but that's how I figured it out:

- In my ETL, in .NET Core, I receive as parameter the name of the CSV file to load
- In my desktop program, with Windows Forms, I call it this way:

[code]

[2019-06-25 20:27] weedkiller opened #14 "Create table at runtime"
Hello, I saw your help doc below. I need to be able to insert the types for cols at runtime... can you help

[code]
________________
how can I create this tables cols, and values at run time -- https://docs.microsoft.com/en-us/dotnet/api/system.type.gettype?view=netframework-4.8

[code]

[2019-06-25 20:36] weedkiller opened #15 "How to get identities / ID of newly inserted records"
Hello, is there a `out` _mechanism_ to get the `ids `of what was inserted in the ETL inserts.

[2019-06-26 08:46] roadrunnerlenny commented on #13
I have good news.
Starting with version 1.3.1, I added a DBMerge dataflow component.
Here is an example how to use it:

1. Your data object needs to implement the new interface `IMergable`:

https://github.com/roadrunnerlenny/etlbox/blob/af8d72e993408dc229f3a8012077718365fd780c/ETLBoxTest/src/DataFlow/TestDataFlowDBMerge.cs#L29-L49

2. You need to have some source and destination tables, in this e

[2019-06-26 08:58] roadrunnerlenny commented on #14
You want basically a method that accepts a .NET System.Type and returns a string with the correct DB datatype.
There is a helper class in ETLBox called `DataTypeConverter`. It already contains static methods that basically takes a string (e.g. "nvarchar(100)") and can convert them into a .NET string-type .
Unfortunately, there is no method that does it the other way round. You would have to create

[2019-06-26 09:08] roadrunnerlenny commented on #15
Hi,
thanks for your good question. Unfortunately, there is now special task in ETLBox that could help you with that.
What you can do is:
Using a `SqlTask` that does the "INSERT INTO" and has an OUTPUT clause in there.
When you use an OUTPUT clause in an INSERT, the insert will return the newly inserted rows (and therefor also their IDs)
When you use SqlTask.ExecuteScalar (for one row) or SqlTask.E

[2019-06-26 09:20] roadrunnerlenny commented on #12
I promised you an answer that I would try to convert the library into an .NET (Standard) library. Unfortunately, there would be some modifications needed in the code in order to get things to work - some minor stuff has changed with .NET core. These changes aren't that complicated, but it looks like that it doesn't come "out of the box". I am not quite sure if perhaps a .NET Standard version will

[2019-06-26 15:29] weedkiller commented on #15
thanks for the response, can we wrap this inside ETLbox, with an out argument.

[2019-06-26 15:29] #15 closed

[2019-06-26 15:33] weedkiller commented on #14
I have a mechanism to get/convert the data types.

My issue is the _number of columns created/added is dynamic_ and established based on a text file provided/dropped in a folder at run-time. I was hoping for help on _how to add columns/setup and configure (the create table) at run-time_ rather than compile time.

So, I basically setup and tear down staging tables on the fly.

[2019-06-26 18:35] roadrunnerlenny commented on #14
Thanks for the clarification.

Perhaps one important thing you should know about the CreateTableTask is that it does not modify a table if the table already exists. (Probably a feature I should add)
Therefor you have to use use the DropTableTask before to drop the table and then recreate it again.

When using the CreateTableTask it will create a table whenever you call Create() - this will interna

[2019-07-02 12:57] luizhfraraujo opened #16 "Support for adding more columns in existing table"
Hi!

ETLBox have any method to add more columns on a existent table? I create my classs, but when i add more column, the table not changes.

Thanks.
Regards

[2019-07-02 15:45] roadrunnerlenny commented on #16
Hi,
thanks for interest in ETLBox. Currently, the `CreateTableTask` will check if a table exists - if the table exists, it will not alter the table.
So you have two options here:
1) Use the `DropTableTask` to drop the table before. It will drop the table only if it exists, so you won't get an error message if you run it without an existing table. After dropping the `CreateTableTask` will create th

[2019-07-02 21:36] #13 closed

[2019-07-02 21:36] #14 closed

[2019-07-03 07:49] #12 closed

[2019-07-03 17:38] luizhfraraujo commented on #16
Thanks for your response!
I create a project and use the sqltask. After, i will create a PR with an idea i have to alter table.

Thanks alot

[2019-07-03 18:17] roadrunnerlenny commented on #16
Good! Let me know if you encounter any issues.  Looking forward to your PR!

[2019-07-03 19:30] roadrunnerlenny commented on #16
Reopened as reference for upcoming PR

[2019-07-10 17:53] weedkiller commented on #14
Yes thanks. I see in the foreach how it does not work. 👍

So can I do something like ` CreateTableTask.Create.Add(new List<TableColumn >())`
Also does `TableColumn` have an over load construction to create from Sql Col object or simple `<Name, DataType>` Key Value Pair

I can see this could become a widely used feature  ✋

[2019-07-11 11:05] roadrunnerlenny commented on #14
Hey Weedkiller,

The static Create method  on CreateTableTask expects either a list of TableColumn objects - or a TableDefinition object which has a property Columns that hold a list of TableColumn. There are currently no other overloads.
If you need to transfer other data objects, I would recommend to use Linq (using System.Linq) and use the Select or Cast methods to do the right transformation.

[2019-07-24 16:33] abdevny opened #17 "DBSource not working with SQL??"
Hi,

First time using ETLBox... I appear to be able to move the contents of a small source table to a dest table by specifying the table name in the source, however, when trying to move specific data using SQL - it never works and always reports back the following error:

System.Data.SqlClient.SqlException: 'Incorrect syntax near the keyword 'from'.'

Here is the Source:
  DBSource source =   new

[2019-07-24 17:01] roadrunnerlenny commented on #17
Hi,

thanks for using ETLBox.
I looked into your issue, and you found a bug with the constructor of `DBSource`. Luckily, this is only a minor bug - the problem here is that I changed the constructor overload for `DBSouce<TOutput>` and forget to adjust the naming.

The constructor actually should look like this:
`public DBSource(IConnectionManager connectionManager, string tableName)`

but instead

[2019-07-24 17:05] #16 closed

[2019-07-24 17:06] roadrunnerlenny commented on #16
Were you able to test your idea?

[2019-07-24 19:11] abdevny commented on #17
Thanks for the quick response.  We were able to get it working but with some pain.  It seems to work smoother when you want to do a complete table load from one db to another (without a class).  Once you select individual columns from your table in the sql, you have to define the class to contain the exact same columns or it throws out of bounds array errors.

Is there a way you can allow x # of c

[2019-07-24 21:45] roadrunnerlenny commented on #17
Hi,

great that you were able to make things work.

if you use the non generic implementation like `DBSource` or `DBDestination`, the underlying code will basically use a string array as a type to wrap the data. When you write into a destination, it will use the string array to write into the table. You said you got an "out of bounds" exception.
Do you still have the code available that created th

[2019-08-03 01:42] cyberop5 opened #18 "OnCompletion Action for CustomDestination<>"
**Is your feature request related to a problem? Please describe.**
Yes. The problem is I don't know when i'm done writing to my destination.

I'm trying to write to an Excel workbook as my destination using EPPlus.  I'm inheriting from the CustomDestination<> class.  I am using the WriteAction property to write out individual rows as they are received.  However, I don't know when the action is don

[2019-08-04 10:15] roadrunnerlenny commented on #18
Hey Matthew,

thanks you for using ETLBox and committing this very detailed feature request. I think that something like a completion action can be very useful, probably not only on the destinations but also on transformations and sources as well. I will have a look into it and create a new version, hopefully in the next couple of days.
Thank you for the very good input! I will let you know when I

[2019-08-05 16:05] roadrunnerlenny commented on #18
Hi again,
i just uploaded a new package to nuget - version 1.3.2 will contain the property `public Action OnCompletion` which is called when all data reached the destination. Same implementation as in `DBDestination`.
I had a look to implement this for other Dataflow Tasks, but I probably need to some refactoring first. I'll put it on my list.

[2019-08-05 16:51] roadrunnerlenny commented on #17
I just committed a fix - if you specify a sql statement and use the non-generic `DBSource` implementation, there was an error when reading the data from the source. This fix will be part of the next version (>1.3.3), which I probably will release in the next couple of days.

[2019-08-05 16:51] #17 closed

[2019-08-05 17:24] cyberop5 commented on #18
Thanks for adding this feature so quickly. It works great.

My EPPlus class is still a work in progress.  It's supposed to output a nicely formatted workbook. I'll share what I can when I'm done.

I've used EPPlus before with other projects and have nothing but praise for the project.

[2019-08-06 21:17] cyberop5 opened #19 "Escape ODBC Inserts"
**Describe the bug**
I'm trying to insert data into an ODBC database (sqlite).  I'm getting an error at DBDestination<>.Wait().
`OdbcException: ERROR [HY000] near "s": syntax error (1)`
The error appears to be the data is being concatenated into a string and executed by the ODBC driver.  The data is not being escaped, nor is the query assembled as a parameterized query.

The problematic line is in

[2019-08-07 11:57] roadrunnerlenny commented on #19
Hi,
thank you again for the very detailed bug report. I will have a look into this.

You are suggeesting to use parameterized strings when passing the Sql to the ODBC Connection. I am not quite sure if this will be possible:
One downside of ODBC is that it doesn't support Bulk Insert. The ODBCConnectionManager "fakes" the Bulk Insert by creating a "
[code]

[2019-08-07 12:04] roadrunnerlenny commented on #19
Hi,
thank you again for the very detailed bug report. I will have a look into this.

You are sugesting to use parameterized strings when passing the Sql to the ODBC Connection.  I am not quite sure if this will be possible:
One downside of ODBC is that it doesn't support Bulk Insert. (Unless you proof me wrong here) The `ODBCConnectionManager` "fakes" the Bulk Insert by creating a
[code]
As a DBDe

[2019-08-07 12:04] #18 closed

[2019-08-07 17:33] cyberop5 commented on #19
I think you're right that ODBC doesn't support bulk insert statements.

I'm all about parameterized queries.  It'll take a bit more effort to construct the query.  You would want to create the parameterized SQL string
`INSERT INTO...
VALUES(?,?),
(?,?),...`
and build a separate list of parameters (see OdbcParameterCollection.AddWithValue).  I don't think the names used to build the collection matt

[2019-08-08 13:43] roadrunnerlenny commented on #19
Thanks again for your input. I appreciate your help!

I am going to change the statement in the ODBC connection used for Bulk insert into a parameterized string as you described. Thank you for the good explanation. Probably the execution plan for an insert statement will always be quite simple to be created by the optimizer, but I guess that using parameterized queries is also best-practice and re

[2019-08-09 11:16] roadrunnerlenny commented on #19
An update regarding the Bulk insert using the new SQLiteConnectionManger: I was a little bit to quick - the BulkInsert functionality is not properly implemented yet. So the DBdestination won’t work with this ConnectionManager right now. I will fix that in the next couple of days!

[2019-08-27 11:18] simhue opened #22 "How to handle empty cells in ExcelSource?"
Hello,

I'm currently writing an ETL-Pipeline to transform Excel-Data to JSON by using ETLBox. The Excel-sheet has empty cells and everytime I'm executing the pipeline I encounter a NullReferenceException.
[code]
The pipeline works fine, when I'm reading rows without empty cells or entering a blank into the empty cells. Am I missing something?

[2019-08-27 14:02] roadrunnerlenny commented on #22
Hi Simon,
thanks for using ETLBox and filing a bug report.
You didn't miss here something, I was able to reproduce the issue within my tests - it was a bug in the implementation. I fixed it with version 1.4.1 which I just uploaded to nuget & github. Please make sure that you reference this version, and the ExcelSource should work as expected.
Let me know if you have any other issues!

[2019-08-27 14:35] simhue commented on #22
Awesome. Thank you for the quick respond and fix!

[2019-08-27 14:35] #22 closed

[2019-09-04 09:15] sendreams opened #23 "is etlbox support complex db task？"
i have two database, db1(mysql) and db2(oracle),
my task is copy the tables in db1 and insert to db2, but there has many details
1、read a table from db1, for example "dbo.table1", the column is:[ id, name, age ]
2、create a hashcode column to db1.table,  the column is:[ id, name, age, hashcode ]
3、read each record and gerenate hashcode by all the column's value,
4、read the table from db2, the colum

[2019-09-04 09:32] sendreams commented on #23
any more.
i don't want to define Poco class, because we have thousands of tables. and will add new table frequently.

[2019-09-04 13:54] sendreams opened #24 "is can support standard net framework?"
the library now support the net core 2.0, cann't be use in standard net framework app. can support in feature?

[2019-09-04 13:59] sendreams commented on #24
<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>
after change the project file, it's ok now.

[2019-09-04 14:48] sendreams opened #25 "Does support mysql database?"
<img width="552" alt="2019-09-04_22-43-35" src="https://user-images.githubusercontent.com/4160051/64265608-ced19900-cf65-11e9-945f-56a07304225e.png">

i have installed mysql odbc connector which can download from here
https://dev.mysql.com/downloads/connector/odbc/5.3.html

this error may be cause by sql syntax error.

my test code is below:
`private` void Button1_Click(object sender, EventArgs e)

[2019-09-04 15:22] roadrunnerlenny commented on #23
Hi,
thanks for your interest in ETLBox.
Short answer to all of your questions: yes, this can be done with ETLBox. Some parts can be done easy, some parts come with side note.
First of all, the current version (1.4.2) does not support MySql and Oracle with native ADO.NET connection managers. So you need to have an ODBC driver installed to access both databases. I am currently working on a "native"

[2019-09-04 15:23] roadrunnerlenny commented on #24
Version 1.4.0 or higher does support .NET standard and should work with .NET core and .NET and .NET standard projects. Which version are you using for your tests?

[2019-09-04 15:41] roadrunnerlenny commented on #25
Hi,

thanks for filing the bug report.
The issue here is that you pass a tablename and not a table definition. The column names for select / insert statements are determined by querying the meta data information from the server (sys.columns). This works for Sql Server, but apparently not for MySql.

I will have a look into this (probably i will need to query the INFORMATION_SCHEMA which should exi

[2019-09-04 16:15] sendreams commented on #23
@roadrunnerlenny  very pleasure to see the answer. i'm a newbie for etl, can you please show me some code snip for these step.
my table almost less then100,000 record, i think the odbc will be ok.
What is the  `DBMerge` task  working principle? is need the table has a time column? so compare the time to check the record state?

many thanks.

[2019-09-05 13:28] roadrunnerlenny commented on #23
Hi again,

sure, I can provide you an example code.
Have a look at this:
https://github.com/roadrunnerlenny/etlbox/blob/f0005d1c8fe3d3eca29e14b4ca2a9834ae0f98bb/TestsETLBox/src/DataFlowTests/SqlServer/UseCases/UpdateOnHashMatch.cs#L16-L120

Please note that I am currently refactoring my tests, so perhaps some of the constructor which have the Connection as argument won't be there in the current ve

[2019-09-05 14:37] sendreams commented on #23
@roadrunnerlenny hi,thank you for your long answer.
the first solution, i should do
1. define `TableDefinition` class
2. hard code update, delete,  new sql

the second solution, i should do
1. define POCO class
2. implement IMergable interface

Unfortunately, I need to do this for thousands of tables. anyway, i will be test your solution.

[2019-09-05 14:45] sendreams commented on #23
i think there has an idea about solution 2, can make a POCO class generator tool which connect to the database and create the POCO class automatic.

[2019-09-05 14:45] roadrunnerlenny commented on #23
Hi,

I think you got me wrong. The first solution does use the TableDefinition class. But this is only for example purposes. In your case, when you have thousands of cases, you need to have some kind of logic which creates the correct table defintion dynamically.
So you would some kind of loop that goes over your database, reads the meta data of the table (e.g. using the INFORMATION_SCHEMA in MySq

[2019-09-05 14:46] roadrunnerlenny commented on #23
Or you create your Poco via a generator, that's also possible. But the same logic for creating the Poco classes could be used to modify the dataflow which is using the string array.

[2019-09-05 14:50] sendreams commented on #23
do you know any tool can connect popular db and read the tableschma?

[2019-09-05 14:53] sendreams commented on #23
solution1 should hard coding the update, delete sql, Does solution 2 also need it?

[2019-09-05 15:02] roadrunnerlenny commented on #23
Solution 2 using the `DBMerge` won't let you write Sql. It will generate the necessary SQL code "under the hood". But please note that the DBMerge does not really "update" the entry - in favor of a integrating a bulk insert mechanism, it basically deletes all entries that needs to be updated and insert the new ones. The result is the same, but instead of a real SQL-Update you will end up with a DE

[2019-09-05 15:15] roadrunnerlenny commented on #23
I would go for
[code]
to get all tables. You can get the columns with
[code]

[2019-09-06 08:50] sendreams opened #26 "Using platform-specific SQL"
<img width="636" alt="2019-09-06_16-43-09" src="https://user-images.githubusercontent.com/4160051/64414398-da3bd600-d0c5-11e9-8e59-9d0cb9b3b3d9.png">
going to the `DropTableTask` class, find the sql using sql-server syntax：
`      public string Sql
        {
            get
            {
                return
    $@"
IF OBJECT_ID('{TableName}', 'U') IS NOT NULL
  DROP TABLE {TableName}
";

[2019-09-06 09:27] sendreams commented on #26
<img width="532" alt="2019-09-06_17-27-23" src="https://user-images.githubusercontent.com/4160051/64417446-a6fc4580-d0cb-11e9-95ff-7fe3ebd36e4a.png">

[2019-09-06 09:34] anlennar commented on #26
Hi,
thanks for reporting the bug.
I will have a look into this.
I am currently refactoring my tests, so that all tasks will be tested for all supported connection managers. There are probably some other bugs with RowCount etc. which have some Sql Server specific sql in it.
It will be fixed in the next version then, which will hopefully come out in the next 2 - 4 weeks.

[2019-09-06 09:39] sendreams commented on #26
i think should be add a new interface to provider platform-specific sql string.  the sql hard code in task will be lead to many problems.
then please add mysql and oracle support. thanks

[2019-09-06 19:25] jhurdlow commented on #17
You need to update the documention here: https://etlbox.net/index.html as it shows (under the 'Data flow tasks - examples' section) to use:
[code]
which is not valid and throws the 'Incorrect syntax near the keyword 'from'.' error.
I struggled with this error for quite a while before finding this issue here on GitHub.

[2019-09-13 13:31] roadrunnerlenny commented on #19
Unfortunately, it took me a little longer than expected- I had to do a refactoring of my tests in order to make sure that everything works.

But now I am pretty confident to say that starting with version 1.5.0 ETLBox can offer full support for SQLite using a native ADO.Net connector.

I also added the use of parameters when creating the queries in all Connectors. This should fix your issues.

[2019-09-13 13:31] #19 closed

[2019-09-13 13:33] #24 closed

[2019-09-13 13:36] roadrunnerlenny commented on #25
I just released version. 1.5.0 which includes full SQLite support. I am currently working on MySql support. I will let you when a new version containing this feature is released.

[2019-09-13 13:36] #23 closed

[2019-09-13 13:40] roadrunnerlenny commented on #26
I will work on a MySQL implementation that will fully support all tasks (ControlFlow, Dataflow) and use platform specific sql. Currently it is working for SQL Server and SQLite, I will let you know when I added MySQL.

[2019-09-13 13:42] roadrunnerlenny commented on #17
Hi,
Thanks for pointing out the error in the documentation. I will fix this in the next couple of days.

[2019-10-02 20:32] FelipeBleson opened #27 "Does ETLBox support Oracle?"
Good afternoon,
I created new project using etlbox, but in the connection with oracle its happening the bug with the source code described below:

ControlFlow.CurrentDbConnection = new AccessOdbcConnectionManager(@"Driver={Microsoft ODBC for Oracle};Server=(DESCRIPTION=(LOAD_BALANCE=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=111.000.000.000)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_

[2019-10-03 17:09] roadrunnerlenny commented on #27
Hi Felipe,

thanks for using ETLBox. Actually, your are trying to connect to an Oracle Database which ETLBox in the current version (1.5.0) does not support. Currently, Sql Server and SQLite is supported, and the next version (probably 1.6.0) will add support for MySql and Postgres. I hope I can do a release of the next version in the next couple of days. After that, I will have a look at supporti

[2019-10-07 09:35] roadrunnerlenny commented on #26
Hi, just a quick update on this:
I just released version 1.6.0, which does now fully support SqlServer, SQLite, MySql and Postgres.

[2019-10-07 09:35] #26 closed

[2019-10-07 09:35] roadrunnerlenny commented on #25
Hi, just a quick update on this:
I just released version 1.6.0, which does now fully support SqlServer, SQLite, MySql and Postgres.

[2019-10-07 09:35] #25 closed

[2019-10-07 09:46] roadrunnerlenny commented on #27
Hi, just a quick update on this:
I just released version 1.6.0, which does now fully support SqlServer, SQLite, MySql and Postgres.

I had a look at Oracle,  and implemented a basic connection manager. (Added to branch https://github.com/roadrunnerlenny/etlbox/tree/Oracle_Support). Also, I had a look what would be needed in order to fully support Oracle.
Unfortunately, to have a full support imple

[2019-10-07 09:49] sendreams commented on #25
@roadrunnerlenny  thanks.  i currently use servicestack to connect serveral type of db. some suggestion for etlbox:
1, separating data access layer, open source implementation can be considered. so you don't need to support so many db types.
2, focus on etl library and enhance custom extension ability

[2019-10-10 15:49] roadrunnerlenny commented on #25
Thanks for your feedback. I will think about having an access layer for the database calls. Did you have any particular frameworks in mind?

[2019-10-11 08:45] karg-betacode commented on #27
Hi, we might want to use this for our client too. They are using oracle.
I can try to help with getting the Oracle support, if this answers your request for volunteer part.

[2019-10-11 13:47] roadrunnerlenny commented on #27
Hi karg-betacode,

that actually would be great!

Here is how I far I got with Oracle:

I got an Oracle Docker image up and running - serving an Oracle Database.

The ADO.NET connector seems to work fine, on first glance it worked as expected.
As usual there is missing a good Bulk insert functionality. Any suggestions here?

In order to have all developments proper tests, ETLBox comes with a lot o

[2019-10-12 13:44] karg-betacode commented on #27
Thanks for the details. Not an oracle developer but i see what i can do.

[2019-10-15 18:23] matt-lethargic opened #28 "ExecuteAsync does not return a Task"
`ExecuteAsync` on `CSVSource` does not return a `Task`, this is most strange and doesn't conform to the accepted practices of async all the way from the top to bottom of the stack. Also it calls `.Wait()` on `ReadAll()` so why not use `await` and return a `Task`? To compound this the `Execute` method directly calls `ExecuteAsync` so when a consumer thinks she is calling a synchronous method she's

[2019-10-16 12:12] roadrunnerlenny commented on #28
Hi matt-lethargic,
thanks for your interest in ETLBox and filing this bug report. You are right, the execute method definitly does not behave like other async methods in C# .
ETLBox classes and objects were designed to be as easy as possible to use. Especially for users who are not so deep into C# programming it still should be possible for them to use the library. Using the TPL library and the as

[2019-10-18 16:55] bencassie opened #29 "Aliases and Qualified name mapping"
Hi there,

Discovered this project the other day and am really impressed with it. However, I have a question with regards to selecting data from the database.

If i write a DBSource select statement such as

[code]

The DBSource hits an issue with the tsql parser identifying 4 columns rather than just the 2. The exception raised is indexOutOfBounds when reading the non-existent columns.

Similarly

[2019-10-18 20:27] roadrunnerlenny commented on #29
Hi,

thanks for using ETLBox and reporting a bug.

In my current tests where I use Sql statements as data source, I wrote only tests with statements that were like "select col1, col2, col3, ... from table" - but I did not write tests using more sophisticated statements. But my goal was definitively to support more sophisticated statements  as well, so good that you found the bug here.

I just wrot

[2019-10-18 20:35] roadrunnerlenny commented on #28
@matt-lethargic  Thanks for your input. I had a deeper look at the methods and the implementations and did some modifications here. Actually, I aligned all my sources and they are now using synchronous methods only. I kept the Execute- method on the sources, but it is just a reference to the `PostAll()` method. The `PostAll` ist the replacement for the `ExecuteAsync`, as it won't do any async stuf

[2019-10-18 20:35] #28 closed

[2019-10-21 13:41] bencassie commented on #29
Thank you very much for your response, that works for me.

[2019-10-21 16:32] bencassie opened #30 "Parallelism"
Hi there,

I have a question with regards to the level of parallelism with the DataFlow tasks.

I have 3 DBSource sql server queries, 2 of which are combined in a lookup and the result sent to a VoidDestinations whilst testing.

I notice however that the 3 DBSources seem to execute one at a time rather than in parallel. I tried putting the ExecuteAsync calls into Parallel.Invoke but no dice.

Any

[2019-10-22 10:02] roadrunnerlenny commented on #30
Hi bencassie,

Unfortunately, I wasn't able to fully reproduce your issue. But I am aware that the current implementation using Execute() / Wait() is not fully supporting an asynchronous approach.

Let me explain the current implementation first:
The `Execute()` method on a source basically will synchronously read from the source (e.g. for `DBSource` from a table) and post the records into the dat

[2019-10-22 10:10] bencassie commented on #30
Hi, many thanks for your reply confirming the current state and your pre-release branch.

I will get back to you when I can provide meaningful input :)

[2019-10-23 04:30] jonyeezs opened #31 "Question: How does the sync work?"
Hi @roadrunnerlenny not sure the best way to contact you to query on etlbox.

Wondering how well it does for syncing initial loaded data to target when there are new updated data in source.

Does it just do a complete update and needs to be a mapped unique key?
Or just having a source -> destination `RowTransformation` will manage all the syncing for me?

[2019-10-23 08:18] bencassie commented on #31
Hi there,

Yes I am also wondering about the upsert functionality of DBDestination.

Many thanks,

[2019-10-23 08:26] bencassie opened #32 "Multicasting lookup source data"
Hi there,

I have multiple DBSources that all need to join/lookup a piece of reference data from another DBSource.

Ideally I would like to multicast this ref data DBSource rather than read the data multiple times.

I don't seem to be able to provide a multicast task as an IDataFlowSource to a lookup. This seems like something that should be achievable.

The thought occurs that a workaround would

[2019-10-23 08:34] roadrunnerlenny commented on #31
Hi Jonathan

Thank you for using ETLBox. Of course you are welcome to raise any questions, bugs or feature requests here on github.

You questions basically aims how to keep a source and destination table "in sync". I can see two different scenarios here:
Scenario 1: The source table does not have any information about its changes. So no delta information is provided by the source.
Scenario 2: The

[2019-10-23 08:46] roadrunnerlenny commented on #32
Hi Ben,

I am not quite sure if I fully understand you here.
First of all, when you talk about joining data sources, did you have a look at the `MergeJoin` component (unfortunately, no article about the usage on the website, but you can have a look at the test: https://github.com/roadrunnerlenny/etlbox/blob/dev/TestsETLBox/src/DataFlowTests/MergeJoinTests.cs)

With the `MergeJoin`, you could first

[2019-10-23 09:01] bencassie commented on #32
Hi,

I'll take a look at merge join it could possibly be the answer however often I have processes handling separate streams of data and the commonality is the reference data.

"So you basically have let's say 5 different db sources, which are all writing to their own destinations, but they all would have the same lookup? And you want to avoid to implement the same lookup 5 times?" - Correct! This

[2019-10-23 09:21] jonyeezs commented on #31
Thanks! That's good enough information for now

[2019-10-23 09:21] #31 closed

[2019-10-23 09:41] roadrunnerlenny commented on #32
Hi Ben,

let me quickly explain how the current implementation of a `Lookup` works:
The Lookup is completely based on a RowTransformation, but it has an "InitAction" which executed before any transformation is done. The InitAction will load all the data from the SourceBlock into a List-object, which is then accessable within the RowTransformation.

I think your case you want to have on data flow t

[2019-10-23 09:52] roadrunnerlenny commented on #9
Hi, just a quick update here: Version 1.6.1 does now include a `JsonSource` and `JsonDestination`, which can be used to read or write data from/into Json files.

[2019-10-23 09:55] bencassie commented on #32
Hi,

Yes I see where you are going with this. Just to clear things up though CustomSource/Destination is a bit mixed up in your response.

Are you saying that I should have a DBSource which is then linked to CustomDestination (the list). I then call Wait() on the CustomDestination and only once it has been awaited kick off the other data sources?

Can a destination be used as a source? Sorry for t

[2019-10-23 10:12] roadrunnerlenny commented on #32
Hi Ben,

exactly, you need a one time flow that loads your reference data from a table (using the DBSource) into a CustomDestination that populates the list. You then call the `Execute` on the source and the Wait() on the destination. After that, your list should contain all data from the table in the list. Now (and not before) you can start the other data flows which access the List, e.g. in some

[2019-10-23 12:43] bencassie commented on #32
Hi,

I just want to report back that this approach is a lot clearer to read and is working great for me.

Many thanks,

[2019-10-23 14:31] bencassie opened #33 "Fluent LinkTo"
Hi,

Whilst testing out a data flow with many stages the thought occurred to me that it would be useful to return 'this' from LinkTo(). That way it would be possible to fluently link together the DataFlows perhaps making the flows a bit more readable?

Ben

[2019-10-23 15:31] roadrunnerlenny commented on #33
Hi Ben,

thanks for you input! Just to clarify, so you would like something like this:

[code]

Actually, the LinkTo would not return 'this', but the linked object (e.g., source.LinkTo(trans1) would return trans1).

Is this what you had in mind?

[2019-10-23 16:45] bencassie commented on #33
Hi,

Yes that was what I was thinking about. It just feels like it'd read clearer.

The question though is how could it be represented in the fluent fashion when predicates and multiple destination are a factor. Other than restating the flow for the negative predicates sending filtered out stuff to VoidDestinations etc.

[2019-10-29 09:39] bencassie opened #34 "CSV DateTime uses InvariantCulture resulting in swapped day/months in CSVDestination"
Hi,

I have found that CSVWriter is configured using Invariant Culture leading to an issue when serializing DateTimes.

For example, I have a date 2nd May 2019, yet when written with CSVDestination it is serialized to 5th Feb 2019.

See here -
https://github.com/JoshClose/CsvHelper/issues/697 and here https://stackoverflow.com/questions/46778141/datetime-formats-used-in-invariantculture

[2019-10-29 09:43] bencassie commented on #34
Have tested adding the line mentioned in the CSVHelper (below) in CSVDestination.InitObjects ok.

csv.Configuration.TypeConverterOptionsCache.GetOptions<DateTime>().Formats = new []{"yyyy-MM-dd HH:mm:ss"};

[2019-10-29 17:40] roadrunnerlenny commented on #34
Hi Ben,

thanks again for finding this issue.
Actually, I just tested this behavior, and when I create a DateTime object for Feb 5th 2010 (`new DateTime(2010, 02, 05)`) , the CSVWriter would produce "02/05/2010 00:00:00".
Which would actually be the correct date within the Unites States, but for me as somebody from Germany this also doesn't look right.
So, first of you all you don't need to change

[2019-10-30 09:07] bencassie commented on #34
Hi,

Yes accessing their configuration via the destination is fine thank you!

It definitely seems like an unexpected behavior for people that aren't keeping an eye on the output though!

Thanks

[2019-10-31 18:11] bencassie commented on #33
Hi there,

I see you've been working on the fluent change today.

I too have been looking at that change and I see our work is very similar! My branch is currently here -

https://github.com/bencassie/etlbox/tree/feature/Interface-changes-squashed

[2019-11-01 10:37] bencassie commented on #33
Hi,

I've added an overload to the LinkTo method to shortcut negating predicates with VoidDestinations.

It has made it a lot easier to fluently express the dataflow without having to retain references so that you can negate them later. Obviously its not a panacea if multiple predicated links are required but in simple filter situations it has merit.

[code]

[2019-11-01 15:32] roadrunnerlenny commented on #33
Hi Ben,

just had a look at your branch and your implementations. First of all, thank you for your great support!

I like the idea of having a "default" `VoidDestination` for inverted predicates, that actually would make the general implementation of predicates a lot easier. On the other hand, this won't work if the logic would still not cover all the records. But the other way of manually linking

[2019-11-01 15:43] bencassie commented on #33
Fantastic - I agree with you on the transformations base class also.

Great news :)

[2019-11-03 17:01] roadrunnerlenny commented on #33
Hi Ben,

I was able to do some refactoring (creating a base class to inherit from wasn't so helpful, so I created a composite class that is used when linking the objects).
I also added a new LinkTo-method:
```IDataFlowLinkSource<TOutput> LinkTo(IDataFlowLinkTarget<TOutput> target, Predicate<TOutput> rowsToKeep, Predicate<TOutput> rowsIntoVoid)```

As you can see, I did not add a negation of the pr

[2019-11-03 17:17] bencassie commented on #33
I think that's a great solution!

[2019-11-03 17:36] roadrunnerlenny commented on #33
Good to hear! I will release a new version then, probably tomorrow.

[2019-11-04 08:46] roadrunnerlenny commented on #34
Just a quick update: I just released version 1.6.2 which sets the default date format when exporting to `"yyyy-MM-dd HH:mm:ss.fff"`.
See https://www.nuget.org/packages/ETLBox/1.6.2.

[2019-11-04 08:46] #34 closed

[2019-11-04 08:47] roadrunnerlenny commented on #33
Just a quick update: I just released version 1.6.2 (https://www.nuget.org/packages/ETLBox/1.6.2) which supports the fluent LinkTo() notation.

[2019-11-04 08:47] #33 closed

[2019-11-04 08:53] bencassie opened #35 "ETLLogLayoutRenderer database issue"
Hi!

I have been testing the nlog database logging (https://etlbox.net/articles/overview_logging.html) with the ETLLogLayoutRenderer however it appears everything logged using the etllog renderer is null.

I'm not an NLog person so it's not immediately apparent what the issue is.

[2019-11-04 08:58] roadrunnerlenny commented on #30
I just released version 1.6.2 (https://www.nuget.org/packages/ETLBox/1.6.2) which now has new methods to support parallelism:
All dataflow sources now support `async Task ExecuteAsync()`.
All dataflow destinations now have `asny Task Completion()`

Calling the ExecuteAsync() will return a new Task. The Task is completed when all data from the source is posted into the dataflow.
Calling the Complet

[2019-11-04 08:58] #30 closed

[2019-11-04 09:01] roadrunnerlenny commented on #28
Hi,
just a quick update on this:

I just released version 1.6.2 (https://www.nuget.org/packages/ETLBox/1.6.2) which now has new methods to support parallelism:
All dataflow sources now support async Task ExecuteAsync().
All dataflow destinations now have asny Task Completion()

Calling the ExecuteAsync() will return a new Task. The Task is completed when all data from the source is posted into the

[2019-11-04 09:03] roadrunnerlenny commented on #29
Hi,
I just released version 1.6.2 (https://www.nuget.org/packages/ETLBox/1.6.2) which includes an improved Sql parser. Now the column names should be parsed from the Sql statement without error. That means if you use version 1.6.2 you don't have to pass a `TableDefinition` object anymore.

[2019-11-04 09:03] #29 closed

[2019-11-04 09:17] roadrunnerlenny commented on #35
Hi Ben,
I just double checked the tests for logging, but generally the logging mechanism looks good on my machine.
Could you provide some more details?
Do you copy the nlog.config into the output folder?
Can you change the root - element of the nlog.config (which is nlog) into:
[code]
Normally, nlog does not throw an error if something goes wrong. With this configuration it will raise an exception

[2019-11-04 13:08] bencassie commented on #35
Hi,

Thanks for the throwConfigExceptions tip, turns out I was missing the following in my project.

[code]

[2019-11-06 16:33] bencassie opened #37 "ExecuteAsync question"
Hi there,

Would it be possible to alter the ExecuteAsync method(s) to return their Task, rather than awaiting the Task?

I would like to be able to kick off multiple DBSources in parallel and then await them as needed.

Kind regards,
Ben

[2019-11-07 14:27] roadrunnerlenny commented on #37
Hi Ben,

I just checked the implementation of ExecuteAsync() - https://github.com/roadrunnerlenny/etlbox/blob/c285a80dc9807c7c415c57ded86c3bba521c3fe7/ETLBox/src/Definitions/TaskBase/DataFlowSource.cs#L20

It does start a new task and is marked as async. The return Type is a Task. There is no explicit implementation which return the task - this is done by the C# compiler (or something else in the

[2019-11-07 14:27] #35 closed

[2019-11-08 14:21] bencassie commented on #37
Hi there,

I wasn't aware that the last awaited task is automagically returned by the compiler - that's pretty cool! I suppose it does not make much sense to await the source anyhow.

My attention turns to the Destination.Wait() methods now and I see that it waits on its ActionBlock to complete before calling CleanUp(), making it problematic if you wanted to return the task for the caller to await

[2019-11-08 15:49] roadrunnerlenny commented on #37
#28 #30

[2019-11-08 15:55] roadrunnerlenny commented on #37
Hi Ben,

if you use the `ExecuteAsync()` method (which returns a task) you could use the `Wait()` on the destination, but I would not recommend it.

When I added the ExecuteAsync method, I also added an async method `Completion()` on all destination components. This will also return a task.

So your code could look like this:
[code]

In this example, the source task completes when all data is post

[2019-11-08 15:58] bencassie commented on #37
Ahh! I hadn't seen the Completion() method - many thanks that is perfect.

[2019-11-08 15:58] #37 closed

[2019-11-09 05:00] AlexVPerl opened #39 "Add Option to Allow Re-Using Opened SqlConnection"
First of, great work on this library!

ControlFlow allows to set 1 current DbConnection, so if one needs to have multiple threads doing work on separate DBs / Connections, have to pass SqlConnectionManager instance to each method directly, example:

`DropDatabaseTask.DropIfExists(new SqlConnectionManager("connection string"), "testDb");`

Internally I see that ETLBox will clone an instance of SqlC

[2019-11-09 14:34] roadrunnerlenny commented on #39
Hi Alex,

thanks for your feedback and your interest in ETLBox! I appreciate it, and hope that the library does actually help you.

Regarding your question, I am not quite sure if I really understand what your intention is.

First of all, please let me clarify something about the Open() method of the connection manager: Whenever this method is called (doesn't matter if this happens on a completely

[2019-11-09 14:36] roadrunnerlenny commented on #39
#1

[2019-11-12 05:16] AlexVPerl commented on #39
Thank you Lenny for well thought out answer.

1. You're right about connection pooling, ADO.NET does handle that part for us. I guess the only performance hit (possibly somewhat negligible) would come from cloning the object itself and ADO.NET's internal logic for re-using the connection. When you're running many (1000's or 10,000's) DB operations on the same connection just seems unnecessary for

[2019-11-12 07:50] AlexVPerl commented on #39
Quick follow up. So this left me wanting to run some benchmarks to gauge the difference between **Reusing Existing Connection vs. Using Connection Pooling** every time. Hoping this will be useful for curiosity's sake :)

I ran total of 8 different test runs. Each test run executes 5000 iterations of connection pooled code and 5000 iterations of reusing existing connection.

For CPU I disabled Inte

[2019-11-12 15:28] roadrunnerlenny commented on #39
Hey Alex,

thanks for looking into this! This is actually a quite interesting result that you come up with. So basically by always Open/Close the connection before every statement things are slowed down by about 8%. So returning the connection to the pool and then reusing it does take a little time - obviously. I would have expected that the pooling of ADO.NET worked faster, but you proved me wron

[2019-11-14 03:01] AlexVPerl commented on #39
That's great to hear! Looking forward to it :)

[2019-11-17 10:30] roadrunnerlenny commented on #39
Hei Alex,

I just released version 1.6.4, which now contains a `LeaveOpen`property on every `DBConnectionManager` (basically all connection managers).
If set to `true` (default is `false`) , it will only open a new connection for the first time - use.

So you could create a new ConnectionManager like this:
[code]

If you use the connection manager the first, e.g. when you use a `SqlTask` like:
[co

[2019-11-17 10:32] roadrunnerlenny commented on #32
Just a quick update here because it popped up in the discussion: With version 1.6.4 there is now a `MemorySource` and `MemoryDestination` available in ETLBox.

[2019-11-17 13:51] AlexVPerl commented on #39
This is awesome, thank you!

Also, excited about the MemorySource & MemoryDestination features - can't wait to try that out.

[2019-11-17 21:04] #39 closed

[2019-11-19 10:19] LarsAlnor opened #40 "TableDefinition does not support sql server identity columns of type BigInt"
**Describe the bug**
The ReadTableDefinitionFromSqlServer has two casts (of seed_value and increment_value) to int? You get an invalid cast exception, if your identity column is of type BigInt. You can't cast from long to int?.

**Steps To Reproduce**
Identity column of table is of type BigInt

**Actual behaviour**
Invalid cast exception.

**Expected behavior**
No exception as it is a valid table

[2019-11-19 10:41] roadrunnerlenny commented on #40
Hi,

thanks for using ETLBox and reporting the bug! Looks like it should be easy to fix, I will look into it (and add also some tests). I will  release a new version containing the fix hopefully in the next couple of days.

In the meanwhile, there is a workaround to avoid having the the TableDefiniton read from the database: In the `DBSource`, you simple pass your own `TableDefinition` object - an

[2019-11-22 12:38] roadrunnerlenny commented on #40
Hi,
I just released version 1.6.5 which fixes the bug. Now you should be able to create a `DBSource` or to call the `ReadTableDefinitionFromSqlServer` method on a table that has a BIGINT identity column.

[2019-11-22 12:38] #40 closed

[2019-11-24 05:09] drocdotCode commented on #27
@karg-betacode are you working on this now?

[2019-11-25 22:06] dhiegobastos opened #41 "Automatic Exception Handler"
Hello,
I was reading about this mention below on doc and I was not able to understand If the framework capture exceptions during the etl and continue the flow for the next rows or if I need to catch the exceptions on my own.

"Know your errors: When exceptions are raised you get the exact line of code where your ETL stopped, including a hands-on description of the error."

Thanks.

[2019-11-26 07:48] roadrunnerlenny commented on #41
Hi,
Thank you for your interest in ETLBox.
Actually there is no special error handling implemented in ETLBox. The line in the doc was supposed to state that when you debug your code the exception will be thrown right away - so e.g. Visual Studio will show you the line of code where the exception was thrown. But there is no special exception handling implemented on top of that.

I can see that this

[2019-11-26 12:29] burnbay commented on #27
Hi!

Did you take a look at the OracleBulkCopy class: https://docs.oracle.com/cd/E11882_01/win.112/e23174/OracleBulkCopyClass.htm#ODPNT7446

It would also be nice to extend the IConnectionManager interface with a method like BulkInsert(IDataReader reader, string tableName) to support data streaming.

[2019-11-26 19:35] roadrunnerlenny commented on #27
Hi @burnbay,

thanks for pointing out the OracleBulkCopy. Wasn't aware of that, that actually looks like exact the kind of object needed to implement the bulk insert in the `OracleConnectionManager`.

Still this would leave the questions open about a good setup to create the Test environment and the question how to retrieve the meta data information. Any ideas here?

The `IConnectionManager` alrea

[2019-11-26 21:44] jonasrdm opened #42 "Composite keys on DBMerge"
Hi,

I have a question about composite keys. The documentation about merge transformations states as follows:

"Optionally (but highly recommended) you should add the attribute [MergeIdColumnName(...)] to one of your properties of your object. (...) This should be a unique column, e.g. a primary key"

**What if** my source and destination tables does not map a simple primary key, but a composite o

[2019-11-27 08:44] burnbay commented on #27
My mistake. Didn't see the implementation of IDataReader.

I'm not at all an Oracle expert, but maybe this is something that could be used:
- http://www.dba-oracle.com/oracle_tips_dbms_metadata.htm
- https://docs.oracle.com/database/121/ARPLS/d_metada.htm#ARPLS026

[2019-11-27 10:25] roadrunnerlenny commented on #42
Hi,

thanks for using ETLBox and your feedback. Right now, the DBMerge is *not* capable of handling tables with composite keys.
The documentation is a little bit unclear here, sorry for this.

I will have a look into this the next couple of days and investigate to extend the DBMerge here, but I currently have no idea if this will be a bigger change or can be implemented straight-forward. I hope I

[2019-11-27 10:31] roadrunnerlenny commented on #27
@burnbay: thanks for looking up information.
Ok, I think I could dig my way through Oracle Sql specificas to retrieve schema information.

The remaining issue - which actually is the most important one, because otherwise I won't be able to setup my test environment - is how to remove all objects from an existing database, so that I have a "clean" test environment before my test runs. Setting up a

[2019-11-27 14:11] bencassie commented on #42
Just to add comment here, I am in the same position and I've gone with using a staging table to insert the rows and then issue a merge statement to the database to handle the composite key.

[2019-11-27 14:17] bencassie commented on #41
Hi there,

Chipping in here as this is something I need to think about also.

I think the expected behaviour of ETLBox would be to facilitate the catching of these exceptional rows and pass them to another data flow handler.

I would probably be looking to be able to set up LinkTo with a destination for any rows that throw exceptions. I will think on it more though.

[2019-11-27 15:15] roadrunnerlenny commented on #41
Hi @bencassie ,

I like the idea of having some kind of "error" output that could be linked to another data flow especially handling erroneous rows. Probably a RowTransformation could have the `LinkErrorTo`method on top of that. It probably would contain only the wrong data - I think the exception message would be only logged.

I can imaging this could be very helpful for a RowTransformation. It w

[2019-11-27 17:10] bencassie commented on #41
Hi,

I've recently had the misfortune of working on some SSIS packages and I guess I was thinking along the lines of how MS handle row level errors (as i'm sure you're aware) - https://docs.microsoft.com/en-us/sql/integration-services/data-flow/error-handling-in-data?view=sql-server-ver15. The first paragraph does a good job of summarising our situation.

I think you're correct, it really is only

[2019-11-27 17:24] dhiegobastos commented on #41
@roadrunnerlenny @bencassie
I appreciate your ideas for creating a new dataflow for records with errors. I believe it is also necessary to log the information and exceptions that have occurred making it possible to view the details on the console or using the etlboxlogviewer tool (https://github.com/roadrunnerlenny/etlboxlogviewer).

[2019-11-27 20:37] dhiegobastos opened #43 "Error retrieving TableDefinition from Postgres when a column is PK and FK"
Hi @roadrunnerlenny
We've found a problem using DBDestination in a Bulk Insert in table where a column is a primary and foreign key simultaneously. The query used in the ReadTableDefinitionFromPostgres method in the TableDefinition class is returning this field (PK and FK) twice.

**Query example:**
[code]

This causes a problem on the BeforeBulkInsert method in the PostgresConnectionManager class

[2019-11-27 21:47] roadrunnerlenny commented on #43
Hi,
thanks you for providing this detailed bug information. I will have a look at this, at first glance it shouldn't be hard to fix, so hopefully I will be able to fix it pretty soon. I would get back to you if I need further assistance here, thanks for offering this.

[2019-11-29 19:59] SaraMoitinho commented on #42
Just to add more to this issue, i've found out that composite keys will result on error not only on DbMerge but on **DbSource** as well.

[2019-11-29 21:36] roadrunnerlenny commented on #42
Hi @SaraMoitinho ,

thanks for your feedback. I was able to reproduce the error for the `DBMerge`, but didn't encounter an issue with the `DBSource`.
Could you provide an example to reproduce the bug?
Thank you for your support!

[2019-11-29 22:43] roadrunnerlenny commented on #41
@dhiegobastos  I agree, an additionally logging makes sense. Thanks for your input!

To summarize:
- Exceptions can occur when reading data (all sources), when transforming data (`RowTransformation` only) or when writing data (all destinations).
- This exception should not stop the flow, but only affect the record that is processed
- error data could be send to a new data flow connected via the `L

[2019-11-29 22:44] roadrunnerlenny commented on #43
I fixed the bug and I will try to make a new release in the next couple of days.

[2019-11-30 13:25] roadrunnerlenny commented on #42
Hi @jonasrdm,
I just uploaded a new version to nuget (1.7.1) where the `DBMerge` now should work flawless with tables having composite keys.
But I had to do some modifications of the component, which I took as a reason to overhaul the whole component. I updated the documentation:
https://etlbox.net/articles/dataflow/dataflow_dbmerge.html

Basically your data object now should inherit from `Mergabl

[2019-11-30 13:26] roadrunnerlenny commented on #43
Hi @dhiegobastos ,
I just uploaded version 1.7.1 which should fix this bug.

[2019-12-04 21:54] dhiegobastos commented on #41
@roadrunnerlenny For me it's perfect.

[2019-12-05 08:48] bencassie commented on #41
Hi,

Apologies I have only just gotten back to this. I agree with the points you've made. It is unfortunate that on a batch insert the whole batch will fail, but I guess that's the nature of the bcp.

You are right that you could end up connecting a lot of components, having thought on it more, I still think it makes sense to keep the error handling logic away from the business logic. At least now

[2019-12-05 10:54] roadrunnerlenny commented on #41
Hi @bencassie ,

thanks for your input! I really appreciate your efforts.

Just to make an example of a possible implementation.
E.g. when I have a flow like this:

[code]

Basically I want to send data from a source into a destination ,while converting the object type in the transformation.

So how would error handling look like. If we want to store the exception together the faulted record , I w

[2019-12-05 10:57] #42 closed

[2019-12-05 10:58] #43 closed

[2019-12-06 06:49] jonyeezs opened #44 "Need help: unable to perform merge on azure sql database"
Unfortunately unable to perform the merge on azure sql database.

[code]

This is why: https://social.msdn.microsoft.com/Forums/en-US/1d83c593-095d-416b-b927-7a6489503131/sql-quotusequot-statement-is-not-supported-in-azure-sql-database-for-selecting-different?forum=ssdsgetstarted

Could there be another option instead of using `USE`?

[2019-12-06 06:50] jonyeezs commented on #44
Here's is their way of interacting between databases
https://azure.microsoft.com/en-us/blog/querying-remote-databases-in-azure-sql-db/

[2019-12-06 07:16] roadrunnerlenny commented on #44
Hi @jonyeezs ,
thanks for using ETLBox.  I assume you are using the `DBMerge` component?
I am a little bit puzzled with the error message - actually, there shouldn't be any USE-statement involved when using the DBDestination or DBMerge (unless the ConnectionManager has the `ModifyDBSettings` set to true manually, but this is turned off by default).

So I would like to reproduce the error in my tes

[2019-12-09 01:15] jonyeezs commented on #44
Hi sorry i left out a crucial information. I'm still using v1.5.0.
Unfortunately we can't upgrade to the latest just yet.

I'll just override the methods.

[2019-12-09 01:15] #44 closed

[2019-12-09 10:26] roadrunnerlenny commented on #44
Hi @jonyeezs ,

thanks for the feedback. I just added two test cases to test project: reading/writing data into an Azure Sql databse and merging data using the DBMerge. I used an Azure Sql Database (database only, configured as "serverless"). I can verify that the current version of ETLBox (1.7.1) worked fine for these scenarios.

Let me know when you were able to upgrade to the latest version and

[2019-12-09 14:53] saad749 commented on #41
@roadrunnerlenny

If I understand the issue correctly, how about storing the erroneous record in a serialized format as a string.

public sealed class ETLBoxError {
    public string Record {get; set;}
    public Exception Error {get;set;}
}

Maybe an additional property can be added for class type.

[2019-12-10 15:31] roadrunnerlenny commented on #41
Hi @saad749 ,
thanks for participating in this discussion.
I like the idea of have the data record serialized into a string. So the `LinkErrorTo()` method could be linked to any components of Type `ETLBoxError`, and whoever is interested in the data could de-serialize the string or check the Exception.

But that would mean that the data object does need to provide a functionality to have it serial

[2019-12-10 15:47] saad749 commented on #41
Yes, I think it should be json serialization.

[2019-12-11 21:42] apocdozer23 opened #45 "is there an example of pulling data from a database table to a csv file?"
Could you create an example of a sql server source table to a csv file?

[2019-12-11 21:44] apocdozer23 commented on #9
Could you include an example where a csv was the target please?

[2019-12-11 22:24] apocdozer23 commented on #9
That link is dead. can you fix it?

[2019-12-11 22:27] apocdozer23 commented on #9
Are you saying that ETLBox should not be used on large sets of data?

[2019-12-12 13:16] roadrunnerlenny commented on #45
Hi @apocdozer23 ,
thanks for your interest in ETLBox.

Of course, here is an example code snippet:

[code]

This is actual a good example for a very basic data flow. I will probably add it to the documentation in the next time.

Regarding performance: ETLBox was designed to work with huge amount of data. Data will be read from the database while it is written into the target - only a small amount

[2019-12-12 13:16] #45 closed

[2019-12-12 13:26] roadrunnerlenny commented on #9
Hi @apocdozer23 ,

fixed the links to the documentation.

Definitely ETLBox will work very well with large sets of data.
That should be the whole purpose of an ETL tool, and I can confirm that ETLBox works smooth with huge amounts of data.

But sometimes things can become a litte more complex. This is when you want to do operations where all your data needs to reside in the memory.
In ETLBox (and

[2019-12-12 19:03] apocdozer23 commented on #9
could you please include a full example of a database table to csv file?

[2019-12-12 20:59] roadrunnerlenny commented on #9
@apocdozer23 ,
please see issue #45 for an example - you asked  the same question there and I already replied you. I will delete the comments from this issue, as they are not related.

[2019-12-13 09:36] arsen1991 opened #46 "Timestamps in PostgreSql"
PostgreSql does not a type 'timestamp' but have types 'timestamp with/without timezone'. GetNETObjectTypeString method checks only 'timestamp'. I have added 'timestamp with/without timezone' checking and it worked.

[2019-12-13 14:13] roadrunnerlenny commented on #46
Hi @arsen1991 ,
thanks for finding this bug! I will add a test and fix this issue with the next version. I'll let you know when I have released it.

[2019-12-16 13:38] roadrunnerlenny commented on #46
Hi @arsen1991 ,
 I just released version 1.7.2 which fixes this bug. Appreciate your help!

[2019-12-16 13:38] #46 closed

[2019-12-16 19:29] arsen1991 commented on #46
Hi @roadrunnerlenny !
Thank you!

[2020-01-08 15:12] bencassie commented on #41
Hi,

Just wanted to say that I've been using your draft implementation and it is working quite well for me, no issues so far.

Sorry it has taken time for me to reply.

Ben

[2020-01-08 16:33] roadrunnerlenny commented on #41
Hi Ben,

Thanks for your feedback! Good to know that you were able to test it, and that it works! Are you satisfied wit the approach itself?

I hope I will find the time to implement it for every task soon...

[2020-01-10 12:25] arsen1991 opened #48 "Found an issue when getting types from PostgreSql"
Found an issue in TableDefinition.cs (line 219):     WHEN cols.data_type='character varying' THEN 'varchar('||character_maximum_length||')'.
When  character_maximum_length is null it becomes null as well.

[2020-01-10 12:28] arsen1991 opened #49 "Redirect or ignore failed rows"
Please add a feature to redirect or ignore the row when it fails to insert like in SSIS. For example, load failed rows into the file. See the image below.
![image](https://user-images.githubusercontent.com/58845775/72153027-2b3a3e80-33c6-11ea-8166-bb7e125177f4.png)

[2020-01-10 14:34] roadrunnerlenny commented on #48
Hi @arsen1991 ,

thanks for pointing this out! This is small fix, it will included in the next version which probably is released pretty soon.

[2020-01-10 14:44] roadrunnerlenny commented on #49
Hi @arsen1991 ,

thanks for your feedback and your idea!
Actually, there is already another issue with more or less the same request:
https://github.com/roadrunnerlenny/etlbox/issues/41
I already started with a first draft implementation, and I was able to implement it with a RowTransformation.
Hopefully I will be able to continue working on it in the next time, but it probably will take a little

[2020-01-10 14:50] arsen1991 commented on #48
Hi @roadrunnerlenny !

Thanks for support!

[2020-01-15 20:03] roadrunnerlenny commented on #48
Hi @arsen1991 ,
I just release version 1.7..6 (https://www.nuget.org/packages/ETLBox/1.7.6) which contains the fix for this bug. Thank you for reporting this!

[2020-01-15 20:03] #48 closed

[2020-01-29 21:35] roadrunnerlenny commented on #49
Hi @arsen1991 ,

I just released version 1.7.7 (https://www.nuget.org/packages/ETLBox/1.7.7) which now enables you to redirect erroneous records within your flow. See the updated documentation here:
https://etlbox.net/articles/dataflow/dataflow_linking_execution.html#linking-errors

[2020-01-29 21:35] #49 closed

[2020-01-29 21:36] roadrunnerlenny commented on #41
Hi all,

I just released version 1.7.7 (https://www.nuget.org/packages/ETLBox/1.7.7) which now enables you to redirect erroneous records within your flow. See the updated documentation here:
https://etlbox.net/articles/dataflow/dataflow_linking_execution.html#linking-errors

Thank you all for your support!

[2020-01-29 21:36] #41 closed

[2020-02-13 04:24] Thwaitesy opened #51 "Does ETL box handle large datasets & how DbMerge works"
**Is your feature request related to a problem? Please describe.**
It's more a question, but can be translated into some documentation for others.

I have a sql table with 20 million records - can ETLBox handle datasets this big?

If so - are there any considerations that we should take into account to make things more efficient?

[2020-02-13 07:08] roadrunnerlenny commented on #51
Hi,

Thank you for your feedback and question about ETLbox.

The short answer is: ETLBox as an ETL tool was designed to handle big amounts of data and therefore you shouldn’t encounter any issues working with 20 millions of rows.

Here some details how ETLbox works under the hood:

A basic dataflow consists of a source, a transformation and a destination.

The source will start reading and post it

[2020-02-14 03:33] Thwaitesy commented on #51
Ok - it's good to know it will handle that volume.

A couple more questions sorry :-)

Our scenario is that we have a transactions table that is growing rapidly that we need to sync and transform it every night to another database for various reasons (Both db's are using managed Azure SQL by the way). Our transactions table has a "LastUpdated" field which we are using for comparing and it also has

[2020-02-14 13:01] anlennar commented on #51
Hi Sam,

thanks for the insights how you want to use ETLBox. I think the scenario you describe sounds very feasible and I think it should work with ETLBox.

Let me try to answer your questions:
First of all, the use of the predicate for the exclude looks good and should work as expected. I don't think that you will run in problems here. The issues you are facing is probably related to the Merging-

[2020-02-14 16:54] xdororo opened #52 "Excel Range Limitation when using ExcelSource?"
Hi

I'm using Excel data source to upload an excel file, but I cannot read the values correctly when data column exceeds 20. For example as below, all excel columns after 20 return null. May I know if there's any limitation of Excel range regards to Excel source? Thanks.

Here is what I declare my excel range:
Range = new ExcelRange(1, 2),

My Class
{
...
[ExcelColumn(21)]
public string xxx { get;

[2020-02-14 21:05] anlennar commented on #52
Hi @xdororo ,
thanks for your feedback and using ETLBox.
No, there is no limitation regarding the number of excel columns when using the Excel source. Your example code should work as expected. Unfortunately, you found a bug, which is the reason why the ExcelSource did not read all columns.
I was able to reproduce this bug within my tests. Luckily, this was easy to fix. The fix will be part of the

[2020-02-15 01:44] xdororo commented on #52
Hi Anlennar

It's working fine with pre-release version of 1.8.0-rc1.
Really appreciate of your prompt help :)

[2020-02-15 05:33] Thwaitesy commented on #51
Ok thanks for this - I have investigated a couple of points you mentioned and I think we are a bit closer to figuring out what is going on.

I created a test that does a merge of 900 rows, and one with 1100 rows and the UseTruncateMethod does work as you suggested 👍

[code]

Here is a log of the process - At the end there I write out the count of how many "I", "E", "D" values are in the delta tabl

[2020-02-15 05:44] Thwaitesy commented on #51
Here is the passing test logs for comparison...

![image](https://user-images.githubusercontent.com/1551204/74582603-eed3b100-5009-11ea-97bd-b9d48f853a76.png)

[2020-02-15 20:02] anlennar commented on #52
Good to hear! Let me know if you encounter any other issues.

[2020-02-15 20:02] #52 closed

[2020-02-15 20:12] roadrunnerlenny commented on #51
Hi @Thwaitesy ,
thanks again for your feedback and the logs! That is actually a quite good description of the bug, I will try to reproduce this in my test environment. I'll keep you updated if I was able to make some progress here!

[2020-02-15 23:19] roadrunnerlenny commented on #51
Hi again,

a quick update on this. I was able to reproduce this bug within my tests. There was a flaw with the sequence of inserting incoming data and when to delete missing records. In the current implementation, the DBMerge tried to delete missing records before every batch write. This worked fine with small amounts of data (< 1000 rows, as this is the default batch size), but could break if the

[2020-02-16 07:23] papyr opened #53 "Dynamic Field DataType Discovery during parsing"
in my case, the _source CSV data file_ and header content/types change often.

I just need to load the data into a Sql table based on whatever data types there are in the CSV file. Can I auto load the CSV data and datatypes into the DB automatically with ETL box. I saw your expando example but was a little lost how to achieve a high level task

For e.g high level algorithim
[code]

thanks

[2020-02-16 19:59] roadrunnerlenny commented on #53
Hi @papyr ,

thanks for your feedback. What you want to achieve can be partly done with ETLBox.
Let me give you an example.
Let's assume you a csv file like this:
[code]
And you have a table in your database that has the following columns:
Id - Col1 - Name - Col2 - Quantity

The following dataflow would load the values of name and Quantity into the correct columns in your database table:

[code]

[2020-02-17 15:03] xdororo commented on #52
Hi there

Actually I am facing an issue handling blank rows from Excel which are
actually deleted. (the Excel source is reading a few rows as NULL values in
all the columns.)

Is there a way within ETLBOX can detect the end of row in the Excel sheet?
I appreciate any of the comment.

Brgds,
Melven

Andreas Lennartz <notifications@github.com> 於 2020年2月16日 週日 04:02 寫道：

[2020-02-17 15:57] roadrunnerlenny commented on #52
Hi Melven,

I am not quite sure if I understand you correctly. The current ExcelSource is based on
https://github.com/ExcelDataReader/ExcelDataReader
It is supposed to stop reading when it reads the end of the excel data.
Could you give an example data file or a description how to reproduce the error?

[2020-02-17 17:22] xdororo commented on #52
Hi Lenny

I will try to reproduce another  file to you because the file with errors
on my hand is kind of sensitive.

Excel source is doing well if I removed blank rows before loading data.

https://www.tech-recipes.com/rx/2189/excel_2007_eliminate_blank_rows/

roadrunnerlenny <notifications@github.com> 於 2020年2月17日 週一 23:57 寫道：

[2020-02-17 18:00] roadrunnerlenny commented on #52
Hi Melven,
thanks for the feedback - glad to hear that deleting the blank rows manually could make it work. But of course it would be good if the excel source would behave as expected - looking forward to receive your excel demo file, so that I could reproduce this scenario in my test environment.

[2020-02-18 05:49] xdororo commented on #52
Hi Anlennar

I attached two files which you could reproduce the issues.
for the NG file, I got DBNull error when I load data from Excel Source.
[Range = new ExcelRange(1, 3);]

If I manually delete the rows from row 9 to 1048576 (actually they are all blank cells), it works definitely. However in the most cases, we got excel files from another system, it's kind of annoying to ask users to do the c

[2020-02-18 21:05] roadrunnerlenny commented on #52
Hi Melven,

thanks for the files. I was able to reproduce the blank lines and were able to implement a fix for this. They will now be suppressed, so they won't be forwarded to the connected components. I added a logic that basically filter out lines that are completely blank.
Unfortunately, there are two downside here: The ExcelDataReader will still read try to read these lines, even though they a

[2020-02-19 04:17] xdororo commented on #52
I'm looking forward to having this property, thank you.

[2020-02-20 15:47] sliceofbytes opened #54 "Question: Source -> Transform -> Merge"
Source -> Transform -> Merge

Is this a flow that is supported. Even in simple cases I'm getting exception:

`ArgumentNullException: Value cannot be null. (Parameter 'source')`

My simple test case looks like this.

[code]

[code]

[code]

[2020-02-20 20:23] roadrunnerlenny commented on #54
Hi @sliceofbytes ,
thank you for your feedback.
Actually, the dataflow you created with ETLBox should work just fine.
I just added a test which basically simulates the exact same flow:
https://github.com/roadrunnerlenny/etlbox/blob/b8326f4dab74067801de210b54e953801a6058f5/TestsETLBox/src/DataFlowTests/DBMerge/DbMergeAcrossDatabasesTests.cs#L75-L92
The tests worked perfectly in my test environment.

[2020-02-20 20:36] sliceofbytes commented on #54
Yes,I confirmed ETLBox was working with a simple Source -> Transform -> Destination.

I only ran into problems when trying to test out the merge feature.

Changing the code I posted above to a DbDestination instead of DbMerge works correctly with my data set.

[2020-02-20 20:46] roadrunnerlenny commented on #54
Hi,
I reproduced your code in my test environment and it worked fine using the DbMerge.
So probably the difference lays in the underlying data? Could you give me an example data set to reproduce the error?
What version are you using?

[2020-02-20 21:03] sliceofbytes commented on #54
I'm using 1.8.0-rc2, I've been able to recreate the issue with sanitized data so give me a few moments to put a repro together and I can share everything.

[2020-02-20 21:22] sliceofbytes commented on #54
Here is a repo with the code and the scripts to create both tables and populate the source data.

https://github.com/sliceofbytes/ETLBoxRepro

[2020-02-20 22:03] roadrunnerlenny commented on #54
Hi,
thanks for example repo! Now I get the exact same error in my environment. I will have a deeper look and hopefully can come up with a bugfix pretty soon. I will keep you updated!

[2020-02-20 22:07] sliceofbytes commented on #54
Thanks!

I've added a sqlite example and got the same error so it seems unrelated to the db instance.

https://github.com/sliceofbytes/ETLBoxRepro/tree/sqlite

[2020-02-21 20:02] roadrunnerlenny commented on #53
Hi @papyr ,

did the provided answer help?

[2020-02-21 20:03] roadrunnerlenny commented on #51
Hi @Thwaitesy ,

did the pre-release version work for you?

[2020-02-22 21:31] roadrunnerlenny commented on #54
Hi @sliceofbytes ,

I just released version 1.8.0 (https://www.nuget.org/packages/ETLBox/1.8.0) that contains a fix for this issue. Let me know if this works for you.

[2020-02-22 21:31] #53 closed

[2020-02-22 21:32] roadrunnerlenny commented on #51
Hi @Thwaitesy ,

I just released version 1.8.0 (https://www.nuget.org/packages/ETLBox/1.8.0) that contains the fix for your issue.

[2020-02-22 21:32] #51 closed

[2020-02-22 21:42] roadrunnerlenny commented on #52
Hi @xdororo ,

I just released version 1.8.0 (https://www.nuget.org/packages/ETLBox/1.8.0) that contains the property IgnoreBlankRows for ExcelSource .

[2020-02-23 11:30] Thwaitesy commented on #51
Hi @roadrunnerlenny,

We havent been able to update yet - We will do so over the next couple of weeks and will let you know how we go.

Thanks for the fix :-)

[2020-02-24 17:30] sliceofbytes commented on #54
I can confirm this fixed the original bug. I can now DBMerge the dataset in question. It is extremely slow though. Taking 56 minutes to DbMerge 156k rows.

[2020-02-25 07:46] roadrunnerlenny commented on #54
Thanks for the feedback. That really is way to slow. I need to setup some test to reproduce this, and I will try to create a fix for this.

Just a quick check to see if this is related to the deletion or updating of existing records: did you execute the merge on an empty destination or was there already a lot of data in the destination that potentially could get updated? Could you try the same run

[2020-02-25 16:04] sliceofbytes commented on #54
I had an equal number of rows in the destination 156k. So there are lots of rows that could potentially get updated (Only 1 actually had a change). I'm trying with `UseTruncateMethod = true`. It appears to be equally slow but I'll let it run out and give you the exact time.

[2020-02-25 16:21] sliceofbytes commented on #54
It seems to progressively get slower as it processes the data.

[code]

[2020-02-25 21:42] roadrunnerlenny commented on #54
Thanks for the log. That was good information.

I was able to reproduce the error in my test environment - it already takes > 60s to merge ~15.000 records, which is already way too long. The logic itself seems to work as designed, and I can see that it works quick for the first records, but then rapidly slows down the more records are going into the merge.

I haven't found the root cause yet, I su

[2020-02-26 21:45] roadrunnerlenny commented on #54
Hi @sliceofbytes ,
I was able to find the performance bottleneck. It was a LINQ query to check if a row does exists and needs to be updated. I replaced it with a Dictionary and a key lookup, which now should work much faster. I will release a new version in the next days containing this fix.

[2020-02-27 20:57] roadrunnerlenny commented on #54
Just a quick update: I just released version 1.8.1 which fix this performance issue - it should work a lot faster now: https://www.nuget.org/packages/ETLBox/1.8.1

[2020-02-27 20:57] #54 closed

[2020-03-03 09:13] REN-I-9jo9 opened #55 "Question about result of MergeJoin"
Sorry my English is poor,it might look strange.
I was try to use MergeJoin to join two table, but the result was weird.
Here's my testing code
[code]

I thought result should be
[code]
but it was
[code]

and the MergeJoin also have no place to set the join condition.
Did I miss anything?

[2020-03-03 09:56] roadrunnerlenny commented on #55
Hi @REN-I-9jo9 ,
thanks for trying out ETLBox and your feedback.

The result you actually get from the merge join is the expected result. Perhaps the documentation is weak here, I will have a look at this and try to improve it. The idea of a merge join is to combine the incoming rows with each other by a given join function. If you need to filter out data, you can use predicates in the LinkTo meth

[2020-03-04 01:51] REN-I-9jo9 commented on #55
Thanks!
I will wait for the update.
Can you also add the join condition to `CrossJoin`? It will be helpful.

[2020-03-04 16:18] roadrunnerlenny commented on #55
Hi,
sure, I will try to. Though it‘s not a real join condition, as more a concatenation function. So basically a function that describe the result of the cross join. But it would be possible to return null, which actually would filter the record out.

If you are looking for a real join (left oder inner), you should look at the LookupTransformation. This result is basically equivalent to a full inn

[2020-03-09 10:35] roadrunnerlenny commented on #55
Hi @REN-I-9jo9 ,

i just released version 1.8.2 (https://www.nuget.org/packages/ETLBox/1.8.2)
It now contains a CrossJoin. Here is an example how to use it:

[code]

The MemoryDestination will contain (in `dest.Data`) a List<string> that contains A1,B1,A2,B2,C1,C2.

Please note that this transformation is "partially blocking." Everything that goes into the InMemoryTarget  needs to be loaded into t

[2020-03-09 10:35] #55 closed

[2020-03-10 03:59] REN-I-9jo9 commented on #55
Thanks,It works.

[2020-03-12 16:59] AlexVPerl opened #56 "Is there transactions & rollback support?"
This is more of a question. I didn't seem to find anything in the API docs, but is there any transaction & rollback support? If not, any plan to of adding?

Thanks.

[2020-03-13 07:27] REN-I-9jo9 opened #57 "Column Count is 0 when SELECT *"
Hi,I've found a bug when using DbSource, as title.
Here's the code:
[code]
And the obj.Length will be 0.
But if my sql string changes to
[code]
It will works normally.
This problem occurs when sql query was like SELECT * ...

Thanks.

[2020-03-13 21:38] roadrunnerlenny commented on #57
Hi @REN-I-9jo9 ,
thanks for reporting the bug. I will have a look into this and keep you udpated on the progress. Should be not to hard to fix.

As a side note, I am surprised that you are using an array of object as a data type. So far, there are only tests that cover string array, regular "POCO" objects and ExpandoObject (Since 1.8.0, the "default" type for components is an `ExpandoObject`).
It

[2020-03-13 21:57] roadrunnerlenny commented on #56
Hi @AlexVPerl ,

that is acutally a very good question.
Absolutely right, there is no documentation about it, because I wasn't able to look deeper into this topic. Perhaps now is a good time to clarify this.

Right now, most of the things happening in ETLBox rely on the corresponding connection manager class, which itself is a wrapper for ADO.NET connection. Whenever something happens on the datab

[2020-03-15 11:17] papyr commented on #53
sorry for the delay, I used another lib.

But the sample showed me how to work this. Now, 1) if during reading the file, I can discover types and create tables using a component functionality it would be nice feature.

2) mapping tables/fields from one table in DB1 to table 2 in DB2 -- how is this done?

[2020-03-15 21:12] roadrunnerlenny commented on #53
Hi @papyr ,

Regarding 1): type derivation from a csv is something which can't be done easily. Imagin the following data:
[code]
So looking at the first row only would determine an integer value for name and quantity as data. So you would need to parse the whole data set - which is something you probably don't want to do if the csv file becomes quite big. Also, the next time you could a different

[2020-03-16 01:19] REN-I-9jo9 commented on #57
Hi
Object array works nothing special, it correctly pass datas between each other.
By the way,when I try to use DataRow type, errors will occur.
If data flow can support DataRow type directlly, it will be great.

[2020-03-16 13:09] roadrunnerlenny commented on #57
Hi @REN-I-9jo9 ,
I had a deeper look at the issue. Actually, I am not quite if I will be able to fix this at all.
The reason is that the "*" does not give any clue about the column names used which could be parsed from ETLBox. So the next step would be to analyze the statement and check the involved tables - which is harder as it sounds, because it is not only the table after from but could be als

[2020-03-16 21:44] #57 closed

[2020-03-17 01:16] REN-I-9jo9 commented on #57
My project needs using complex sql string,so I can't using TableName instead,but thanks anyway.

[2020-03-23 09:33] roadrunnerlenny commented on #56
Hi @AlexVPerl,

did this answer your question?

[2020-03-24 00:22] AlexVPerl commented on #56
Hi @roadrunnerlenny, sorry for the slow response.

I agree, SqlTask would be a good place, as well the DbSource / DbDestination scenario.

Another place that I think would be very convenient to have is the SqlConnectionManager. I feel it would offer good flexibility as it would also cover both SqlTask & DbSource / DbDestination use cases since they rely on SqlConnectionManager.

Transaction could

[2020-03-31 22:10] anlennar commented on #56
Hi  @AlexVPerl ,
just a quick update on this. Thanks to your input, I started to investigate how transaction handling could be integrated. I tried to integrate it into SqlTask & DbDestination, but turned out that it wasn't really working there becuase of the dependency to the ConnectionManager.
So you mentioned to implement it on the ConnectionManager similar to the LeaveOpen flag, which was a ver

[2020-04-05 16:24] norwynn opened #59 "Processing large CSV file gets stuck"
Hi,

I'm trying to process a CSV file, roughly around 9GB with 31M++ rows and 33 columns.  Following the examples, I am able to copy data to an SQL Server database.  But after about 6-7 million rows, the console application starts hogging a lot of memory(95-98%) and stops copying rows to the destination (no row count change during monitoring, had to terminate).

Am I missing something?  Can you gi

[2020-04-05 18:16] roadrunnerlenny commented on #59
Hi,

Thanks a lot for using ETLBox and reporting your issue. That sounds like a memory leak in ETLbox that shouldn’t happen.
I would like to try to reproduce this error in my test environment.

Could you provide my some additional information:
1) the piece of code where you create and execute your dataflow?
2) which version of ETLBox are you using?

[2020-04-06 03:47] norwynn commented on #59
HI,

Version: 1.8.3. on .net core console application.

Also got this error now:

![image](https://user-images.githubusercontent.com/20890162/78521392-4c130400-77fc-11ea-950b-9e919ed9030d.png)

Here's some code snipper used:

`

             var result = false;
            CsvSource<T> source = new CsvSource<T>(_srcConnString);
            source.Configuration.Delimiter = "|";
            source.C

[2020-04-06 05:08] papyr commented on #53
Check out [ChoETL](https://github.com/Cinchoo/ChoETL/issues/74), it worked out there, maybe some clues

[2020-04-06 07:47] rolfik commented on #56
You can also use implicit transactions with [TransactionScope](https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transactionscope?view=netstandard-2.0)s.

[2020-04-06 21:37] roadrunnerlenny commented on #59
Hi @norwynn ,

I tried to simulate the behavior in my local test environment.

I create a test that looks like this:
https://github.com/roadrunnerlenny/etlbox/blob/f1518f65810f9b989468117c4d79bbc59ff4119b/TestsPerformance/src/CSVSourceIntoDBTests.cs#L137-L175

This test basically creates a Csv file with 10.000.000 rows, where each row consists of about 1000 characters. In total, each row consumes

[2020-04-07 02:33] norwynn commented on #59
Hi,

I tested the console app with CSV saving to a local Sql Server database Developer Ed. on an AMD A10 5800K with 16GB RAM, SSD.  Also tested on Azure Sql database DTU (S100).  "Starting database sync" is just console output/logging.

I'll also do another test and see if I can reproduce it again.

Thanks!

[2020-04-07 06:11] rolfik commented on #56
@roadrunnerlenny we use it in our production systems with MS SQL Servers.
With transaction scopes it is much easier to manage complex operations spanning over multiple methods, because a scope is not a transaction, but may begin a new transaction if it is not yet in progress or opt out of current transaction etc.
You basically do:

    using (var scope = CreateSomeScope())
    {
        DoSomeDbWo

[2020-04-08 08:40] xdororo opened #61 "Question about synchronous execution within data flow."
**Describe the bug**
I would like to run the data flow step by step and avoid async run.

**Steps To Reproduce - here is my code**
[code]
**Actual behaviour**
step 3 run earlier than before step 2 completion.

**Expected behavior**
I don't want async run because step 2 will refer the complete result of step 1, and step 3 must process with the complete result of step 2. so, successor step cannot st

[2020-04-08 09:23] roadrunnerlenny commented on #61
Hi @xdororo ,
thanks for using ETLBox and posting this bug request.
So if I understand you right, Step1 is supposed to load data into some kind of List or IEnumerable.
The issue here is that Step 1 doesn't have a destination component. So the execute will block execution until all data is posted into the data flow, but then continue with step 2. This doesn't mean that the RowTransformation started

[2020-04-08 09:34] xdororo commented on #61
@roadrunnerlenny
Thanks for your prompt answer. Sorry I didn't put it right,  actually I have a DbDestination at step2 (DestA).
If I understand correctly, I need a DbDestination both at step 1 and step2, when I calling DbDestination.Wait(), I can execute the flow step by step, right?

[2020-04-08 10:39] roadrunnerlenny commented on #61
Exactly, the flow at step1 doesn't have Destination. You only want to load data into memory, so actually it doesn't have to be a DbDestination - there are other destinations you can use.
If you want to keep the RowTransformation, then just connect your flow at step1 with a `VoidDestination`

[code]

This should already do it.
A small improvement would be to use the memory destination instead, so y

[2020-04-09 14:40] xdororo commented on #61
Hi @roadrunnerlenny

I've tested the code and it's running well now. I will try MemoryDestination and LookupTransformation as well. Thanks.

[2020-04-09 21:45] roadrunnerlenny commented on #61
Good to hear! Let me know if you need any help.

[2020-04-09 21:45] #61 closed

[2020-04-10 09:24] roadrunnerlenny commented on #59
Hi @norwynn ,

were you able to get things running?

[2020-04-11 19:48] AlexVPerl commented on #56
@roadrunnerlenny and @anlennar thank you for your continued support and updates to ETLBox. Will be trying out the newly added transaction support in the next few days :)

[2020-04-12 06:57] norwynn commented on #59
HI, working on it. Will update ASAP.  Thanks!

[2020-04-16 08:16] vladislav-smr opened #62 "Exception while creating table with long primary key name. (MySQL, MariaDB)"
**Describe the bug**
CreateTableTask can't create table with long primary key name in MySQL MariaDB). Primary key name generated from table name and primary column name. In some cases they can be really long.

**Steps To Reproduce**

    var connectionManager = new MySqlConnectionManager("Server=localhost;User Id=root;Password=root;Database=test;");

    var columns = new List<TableColumn>
    {

[2020-04-16 20:54] roadrunnerlenny commented on #59
Hi @norwynn ,

sorry for the delay getting back to you.
Thanks for the video, I did the same analysis on my machine.
On first sight, this looks like a memory leak.
So I made some additional test in my environment. Turns out, that when I run my test in Debug mode, everything works fine - memory consumption stays on "normal" level.
But executing the test in run mode, I get the same extreme memory co

[2020-04-16 21:02] roadrunnerlenny commented on #62
Hi @vladislav-smr ,

thanks for reporting the bug. Shouldn't be to complicated to fix, currently I favor the solution that the primary key can be overwritten manually.

[2020-04-16 21:16] #56 closed

[2020-04-17 09:25] norwynn commented on #59
Thanks!  Will wait for the fix.

[2020-04-19 22:05] roadrunnerlenny commented on #59
Hi @norwynn ,
Took me longer than expected, but I think I was able to create a fix for this.
The root cause (so far) seems to be somehow the CsvHelper library - I am not 100% sure about this yet, but adding some code that calls the GC to clean up and delay execution for 1 ms significantly reduces the amount of allocated memory in my test environment. I probably will do some more tests on this (the

[2020-04-21 19:25] roadrunnerlenny commented on #62
Just released version 1.8.6 (https://www.nuget.org/packages/ETLBox/1.8.6) where you can specify a primary key constraint name in the TableDefinition - this will prevent the CreateTableTask to auto-generate the constraint name and use the given one.

[2020-04-21 19:25] #62 closed

[2020-04-21 19:30] roadrunnerlenny commented on #59
Hi @norwynn ,

just released version 1.8.6 (https://www.nuget.org/packages/ETLBox/1.8.6) which contains a fix to keep memory consumption low.
Actually `CsvSource` now has a property `ReleaseGCPressureRowCount` which by default is set to 100 - every 100 rows read from the csv source the Garbage Collection is triggered manually and execution is paused for 1 ms. This does not really affect overall pe

[2020-04-22 10:34] RapidsoftAIM opened #64 "How can I read and write batch by batch?"
Hello. I need read batch from DbSource (PostgresConnectionManager) and write it batch to DbDestination (SqlConnectionManager) and do it in loop.

Anything like this:
[code]

This code work for only first batch :(

Thanks in advance!!

[2020-04-22 19:14] roadrunnerlenny commented on #64
Hi @RapidsoftAIM ,
thanks for using ETLBox.
So I understand that you want to "page" through your source table in Postgres and transfer it into a table in SqlServer.
The code above is not working as you expect because a dataflow pipeline can only executed once.
If you want to execute a dataflow again, you need to (re)create, link and execute the whole flow again. In your code it would look like thi

[2020-04-22 19:17] roadrunnerlenny commented on #59
One more thing to add here:
The default batch size for `DbDestination` is 1000. For SqlServer, you will perhaps get a much better write performance when you increase this to 1000, e.g. like this:
[code]

[2020-04-23 10:08] RapidsoftAIM commented on #64
Yes.
Thanks for the quick and detailed answer.

[2020-04-23 10:08] #64 closed

[2020-04-24 14:10] norwynn commented on #59
Hi, thanks for the update.  I'll run some tests on the builds.

[2020-04-25 17:00] norwynn commented on #59
Hi,

I did a couple of simple tests using the new build.  I think the original issue was likely caused when ExpandoObject/Dynamic variables were used. Couple of things:

1. We changed the approach and it is faster if you use regular POCO objects.
2. ReleaseGCPressureRowCount.  I encountered the same CLR error on a single test when value is 0.
3. It is slow when using the default value of 100.
4. M

[2020-04-25 20:14] roadrunnerlenny commented on #59
Hi @norwynn ,

thanks for the tests and detailed analysis.
I have two questions to your remarks:
- Beside the performance decrease, did you check the memory consumption? I assume it was stable when you used  ReleaseGCPressureRowCount = 100 , but if you choose a higher value (like 1000, 5000 or 10k) , did you observe the memory consumption? In my tests I also could observe a slower read/write perfo

[2020-04-26 02:25] norwynn commented on #59
hi @roadrunnerlenny ,

Based on my test, these are the memory consumption based on the TaskMan info.

- Memory consumption @  ReleaseGCPressureRowCount = 0 is is between 150-350MB. I noticed that I sometimes get this error: _Fatal error. Internal CLR error. (0x80131506)_. Intermittent. Unstable.
- Memory consumption @  ReleaseGCPressureRowCount >= 100 is between 100-350MB.  Higher ReleaseGCPressur

[2020-04-27 21:28] roadrunnerlenny commented on #59
Hi @norwynn ,

thanks for the analysis and the details of your tests.
I thought about it a little bit, so I think these are things that needs to be considered:
- the fix with the RelaseGCPressureRowCount property seems to work and is giving you some flexibility to adjust the performance to your needs.
- Still, for me it's more like a quick&dirty fix, because your detailed anaylsis shows that there

[2020-05-20 05:22] flopgiggle commented on #27
Thanks for providing such an excellent etl tool。Is there any progress in this matter? Our team has always used oracle. At present, I want to replace ssis. It seems that only this framework is suitable. We will be very happy if we can support it.

[2020-05-20 19:00] roadrunnerlenny commented on #27
Hi @FelipeBleson ,

thanks for the feedback. Support for Oracle (and also other databases) is still on my roadmap.
Currently my plan is to have the connection managers separated into their own packages (e.g. ETLBox.SqlServer, ETLBox.MySql etc.) so that references to other packages are reduced to the ones that you are actually using. After this, I plan to work on an implementation of a connection m

[2020-06-02 20:31] AlexVPerl opened #71 "CreateTableTask TableName & Columns Properties are now read only"
Hi ETLBox team -

Just updated to latest version and discovered that CreateTableTask TableName & Columns properties are now read only. I went through release notes and didn't see any mention of this change, wondering if perhaps this was by mistake.

Would it be possible to expose setters for these properties like before?

Thanks.

[2020-06-05 18:36] roadrunnerlenny commented on #71
Hi @AlexVPerl ,
thanks for your feedback, and apologies for the late response.
Well, you are right, it was removed more or less by mistake.

The reason behing this is that `CreateTableTask` uses a `TableDefinition` object  to store the columns and the name. So the `TableName` basically return the `TableDefinition.Name`, and Columns just `TableDefinition.Columns`.

So I will add the missing setter

[2020-06-08 19:44] AlexVPerl commented on #71
Great, thanks!

[2020-06-14 19:51] roadrunnerlenny commented on #71
Hi Alex, starting with version 1.8.9 the TableName and Columns properties now also have setters again in the CreateTableTask.

[2020-06-14 19:51] #71 closed

[2020-06-14 21:15] AlexVPerl commented on #71
Just updated to latest ver. 2.0 - thanks again.

[2020-06-19 12:37] roadrunnerlenny commented on #27
Hi @FelipeBleson ,

I was able to implement full Oracle support in ETLBox.
The new version 2.0.1 (https://www.nuget.org/packages/ETLBox/) now supports oracle as connection type - and works with the Oracle connection manager: https://www.nuget.org/packages/ETLBox.Oracle/

Please not that the connection managers are now in separate packages and are closed source with a different license model. (http

[2020-06-19 12:37] #27 closed

[2020-06-19 12:40] roadrunnerlenny commented on #59
Still didn't have the time to fix this bug in it's entirety. But I guess the workaround with RelaseGCPressureRowCount is good enough, so I will close this here for the time being.
It will stay on my Todo-list.

[2020-06-19 12:40] #59 closed

[2020-07-01 16:05] BabuBahir opened #72 "Unable to Insert Records into Oracle"
**Describe the bug**
The dest.Wait() throws a ORA-00904: "COL": invalid identifier .When using OracleConnectionManager

**Steps To Reproduce**
 _Create A Table In oracle , With just one column(Id) for demonstration purpose_

 `OracleConnectionManager orcon = new OracleConnectionManager("oracle connectionstring"));`
 `ControlFlow.DefaultDbConnection = orcon;`
 ` CsvSource<MyData>  source = new CsvS

[2020-07-01 17:48] roadrunnerlenny commented on #72
Hi @BabuBahir ,

thanks for using ETLBox and your feedback.

I guess the error is related to some oracle database specifics (perhaps some implicit naming conventions or data type issue)  - I would like to reproduce the error in my local test environment.
Could you give me some more details about your setup:
The CREATE TABLE statement for your test table, and the header row & one example row for yo

[2020-07-02 14:42] BabuBahir commented on #72
Thank for the reply  @roadrunnerlenny  .
What i will do is create a small dotnetcore project . Running which You shall be able to reproduce the error . I will provide the link to the github repo here. .

[2020-07-02 16:38] roadrunnerlenny commented on #72
Hi @BabuBahir ,
that sounds good, just post the link here and I will look into it.

[2020-07-03 08:03] BabuBahir commented on #72
Hi @roadrunnerlenny  . Here is the [github link ](https://github.com/BabuBahir/etlbox)which shall reproduce the error... Have made a webapp .

Now , I initially thought that there might be some issue in the CreateTableTask for oracle that was stopping the insertion of data but it isn't . Because when i tried creating a table first in the oracle 11g database. and then directly did the source.Execut

[2020-07-03 19:50] roadrunnerlenny commented on #72
Hi @BabuBahir ,

I just had a look at your project. In general, the code looks good and should work without errors.

Anyways, I had some issue with the versions and references to get it up and running. I must admit that since version 2.0.0 and the split up in separate packages, I did have some problems with the package creation and how to keep up the references working.

So here what I did to make

[2020-07-03 21:39] roadrunnerlenny commented on #72
Hi @BabuBahir ,

just another possible workaround which could work with Oracle 11.
Instead of using the "native" connector you could try to connect using an Odbc connection.

I just uploaded a new version (1.0.3) of the ETLBox.Odbc package which contains an OracleOdbcConnectionManager.
Use this connection manager instead of the OracleConnectionManager and reference the latest package (https://www.

[2020-07-04 06:55] BabuBahir commented on #72
Thanks for the reply @roadrunnerlenny .... I shall try it again when I have access to my system this monday.

Anyways I would like to thank you for creating such a simplistic ETL on dotnet core.
Had I not found [etlbox](https://github.com/roadrunnerlenny/etlbox) I would have to go for Talend .

[2020-07-14 22:55] roadrunnerlenny commented on #72
Hi @BabuBahir,

were you able to solve your issue? Any feedback is appreciated.

[2020-07-19 08:53] #72 closed

[2020-08-07 13:18] gjvanvuuren opened #73 "No Join Type in MergeJoin?"
Hi,

I'm using using MergeJoin with the intent of **Left** joining two data sets. But I noticed that MergeJoin by default performs an **Inner** join. In SSIS at least, the MergeJoin transformation allows the user to choose between different Join types.

How would I go about to do a Left join with EtlBox?

Regards,
Gideon

[2020-08-07 16:50] roadrunnerlenny commented on #73
Hi,

Thanks for your interest in ETLBox.

Just to make sure I understand your question correctly: the MergeJoin combines data from two inputs into one output. So basically you are joining two sets of incoming data which are uneven? e.g. one input has three rows and one has two rows, so you want to have the last rows of input one processed by the MergeJoin?

[2020-08-08 09:36] gjvanvuuren commented on #73
Hi,

Yes, I have two uneven inputs, or sets, so using your example and the left join analogy, all of input one will be passed through, along with only the matching of input two. The MergeJoin constructor parameter mergeJoinFunc then determines which of the fields of input one and the (matched) input two are passed through.

In fact, I assumed that’s what the mergeJoinFunc function is for – to impl

[2020-08-09 18:18] roadrunnerlenny commented on #73
Hi @gjvanvuuren ,

that's actually a good point you made. The question is how the MergeJoin can be enhanced to support other join types regarding the programming interface.

I just compared the implementation in SSIS - the MergeJoin is a little bit differently there regarding the configuration. In ETLBox, you basically can define any function that decides if and how a data row would be passed (e.g

[2020-08-12 10:04] gjvanvuuren commented on #73
Hi Andreas,

I’ve written a simple SQL statement, and the equivalent EtlBox flow to illustrate the problem.

SQL:

WITH

FirstName AS

(

    SELECT 1 AS ID, 'Marilyn' AS FirstName UNION

    SELECT 2 AS ID, 'James' AS FirstName UNION

    SELECT 3 AS ID, 'Elvis' AS FirstName

),

LastName AS

(

    SELECT 1 AS ID, 'Monroe' AS LastName UNION

    SELECT 3 AS ID, 'Presley' AS LastName

)

SELECT

[2020-08-12 10:46] gjvanvuuren commented on #73
Hi Andreas,

I’ve written a simple SQL statement, and the equivalent EtlBox flow to illustrate the problem.

**SQL:**

[code]

**ETLBox:**

[code]

Now it’s easy to debug and see that ETLBox only passes in 2 records to the Merge function. From the FirstName - ID’s 1, 2; from the LastName, ID’s 1, 3. ID 3 from the FirstName table is ignored.

Regards,
Gideon

[2020-08-12 12:03] gjvanvuuren commented on #73
I unintentionally closed this issue - reopening.

[2020-08-12 19:21] roadrunnerlenny commented on #73
Hi @gjvanvuuren ,
great, that's actually quite a good example. Thank you for taking the time to prepare this.

Now I got a much better understanding of the problem.
So the current merge join is basically taking data from both inputs, and the MergeFunc just describes how to join them. This can work well if data from both inputs have the same size, and are already sorted.

This doesn't work if the d

[2020-08-13 09:23] gjvanvuuren commented on #73
Hi Andreas,

thanks for the response and your suggestions.

I don't think MergJoin has to be changed much - the requirement to have sorted input is standard practice. The SQL optimizer also sorts the tables based on the join criteria. SSIS also requires sorted input.

The Merge Function can be used as is, the user can define their own join logic using the existing design. The problem as I see it,

[2020-08-14 20:22] roadrunnerlenny commented on #73
Hi @gjvanvuuren ,

that is a good starting point and good thoughts.

I am still struggling with the uneven inputs - one side of the join can have 3 rows, the other one 2 rows. Still you would expect 3 rows in the output.
The MergeBlock from the TPL Dataflow library which I use under the hood would just simple merge rows from both sides - if one side is delivering a row and the other not it would n

[2020-08-18 07:10] gjvanvuuren commented on #73
Hi Andreas,

thanks again for the feedback. I'm looking forward to all the upcoming changes!

Best Regards,
Gideon

[2020-09-01 07:53] gjvanvuuren opened #74 "Rename methods in MergeJoin"
Hi Andreas,

I pulled the latest dev branch yesterday, to have a look at the new MergeJoin functionality. I noticed that **MergeJoin.LinkTo** now requires passing the **MergeJoin.LeftJoinData** and **MergeJoin.RightJoinData** delegates.

As Left Join and Right Join are specific join operators, and the two methods have nothing to do with either a Left Join or a Right Join operation, could I ask you

[2020-09-01 18:18] roadrunnerlenny commented on #74
Hi @gjvanvuuren ,

thanks for letting me know!
Sure, I can change the name, I think LeftInput / RightInput or LeftInputData / RightInputData are good options.

Because there were bigger refactorings of the underlying component linking, I wasn't able to implement the left/right join behaviour yet. Hopefully I will be able to add it in the couple of days.

[2020-09-06 12:02] frefardt opened #75 "source-target mapping and table structure change"
Hi Andreas

I came across ETLBox searching for an easy to learn ETL framework. I do like it a lot and I am currently going through a couple of your excercises - it's fun :-).

One of the topics I currently struggle with is how to cope with a table structure change (for example a renaming of an attribute within a table) without the need of maintaining any POCOs?
For example if I rename a database c

[2020-09-06 19:20] andreaslennartz commented on #75
Hi @frefardt ,

thanks for using ETLBox and your positive feedback!

Regarding your question: If I understand you correctly, your table definitions may change over you time and you don't want to adjust your POCO every time the table changes.
Working with arrays is a valid approach, which at the beginning of ETLBox I also used when I didn't want to adjust my object every time when something changed

[2020-09-06 19:23] andreaslennartz commented on #74
I decided to go with `LeftInput` and `RightInput` as naming for the MergeJoin inputs. So I will close this one now.
Still working on the the other issue to have the left / right join functionality added.
Also, I will check if there can be additional inputs for the MergeJoin so that it allows more than two inputs.

[2020-09-06 19:23] #74 closed

[2020-09-06 19:57] gjvanvuuren commented on #74
OK, thanks

From: Andreas Lennartz <notifications@github.com>
Sent: Sonntag, 6. September 2020 21:24
To: etlbox/etlbox <etlbox@noreply.github.com>
Cc: gjvanvuuren <gvanvuuren@gmx.net>; Mention <mention@noreply.github.com>
Subject: Re: [etlbox/etlbox] Rename methods in MergeJoin (#74)

I decided to go with LeftInput and RightInput as naming for the MergeJoin inputs. So I will close this one now.
St

[2020-09-08 10:24] frefardt commented on #75
Hi Andreas

Thanks for your feedback on my question. I worked through the dynamic object approach and it works very well if the column names and structure of the source and target table are the same. Or if I define the mapping explicitly inside the RowTransformation(). But how would I set the property(name) dynamically?

According to your code:

`result.Add("NewColumnName", r.Col1);`

How do I set

[2020-09-08 14:14] andreaslennartz commented on #75
Hi Florian,

ok, let's see if I get your problem right.
You have an input table that e.g. has two columns: ID and Name.
Your destination has also two columns, for simplicity they are also ID and Name.
So the flow would directly go from the source into a destination and look like this:
[code]
All data would be copied from the source to the destination, as internally an ExpandoObject is used that wo

[2020-09-09 07:50] frefardt commented on #75
Hi Andreas

That makes a lot of sense to me and is exactly what I meant. A configuration object with name-mapping information that can then be passed optionaly to the DbDestination or RowTransformation (I would expect it to be on RowTransformation) would be great to have.

Regards Florian

[2020-09-09 13:51] andreaslennartz commented on #73
Hi @gjvanvuuren ,

a quick update on this: It took me longer than expected, but now I came up with a first working solution.
Initially, I wanted to add a `BothMatchFunc<TInput1,TInput2,bool>` as additionally input parameter that basically described when two records are equal and should be joined or not.
But it turned out that this approach woudn't work without keeping all data in memory. Otherwise

[2020-09-09 14:00] andreaslennartz commented on #75
That's actually good input that you would expected it on the RowTransformation and not on the DbDestination.
Going further with this idea, it would perhaps good to have a "PropertyRenameTransformation" in place, which basically receives as input the old and new property names and then applies the renaming. It will probably only work with ExpandoObject. Perhaps this is also possible for classic POC

[2020-09-10 06:46] frefardt commented on #75
Hi Andreas

I also gave this some more thoughts yesterday and would suggest to have an additional Constructor for the RowTransformation Class. It could then take a set-list (Dictionary in C# as I just learned) as an argument. The  source-target values for the column names can then be initialized like this:

[code]
The new constructor for the RowTransformation Class could look like this:

`public R

[2020-09-10 14:21] frefardt opened #76 "Index on View"
Hi Andreas

I tried to add an index to a view with the following code on SQL Server 2019:

[code]

I didn't expect this to work because the method clearly asks for a table name. So I got this error:

`Microsoft.Data.SqlClient.SqlException: "Cannot create index on view 'mySuperduperView' because the view is not schema bound."`

I then checked your code and saw, that there is no WITH statement for c

[2020-09-10 20:04] andreaslennartz commented on #75
Hi Florian,

I like to the idea of using a Dictionary<string,string> for the mapping. I actually would have thought of a List<ColumnMapping>, whereby the class ColumnMapping would have the properties OldPropertyName and NewPropertyName.
In ETLBox, I always try that all values can be set even when you use the default constructor.
So whoever calls `var trans = new RowTransformation()`, should also b

[2020-09-10 20:17] andreaslennartz commented on #76
Hi Florian,

thanks for pointing this out.

So one thing ETLBox currently does not support is to add some custom WITH statements when creating a view (or procedure).
This is because I tried to implement the most common scenarios which will work on most databases.

Based on my experience it is quite uncommon to create an index on a (materialized) view (mainly because of the strong limitations for s

[2020-09-11 09:46] frefardt commented on #75
Hi Andreas

I like it a lot. And as it is only for ExpandoObject it makes total sense to have a separate RenameProperty transformation for it (I understand this now). Would be great to have this as an additional possibility!

Any idea on the timeline?

Thanks a lot and regards
Florian

[2020-09-11 12:38] frefardt commented on #76
Hi Andreas

Thanks for the feedback on this. I was just playing around with different scenarios and kind of got stuck with this 'limitation'. For me it is perfectly okay to keep this as it is.
But it would be nice to have the option to pass a complete custom sql statement to create a view including the CREATE VIEW statement.

For example:

`createViewCustom(ConnectionManagerType connectionManagerT

[2020-09-11 18:55] andreaslennartz commented on #76
Hi Florian,

If you want to pass the complete SQL statement, I suggest that you simple use `SqlTask`. With SqlTask.Execute(..) you can basically run any sql code within one line.
There is a reason why the CREATE VIEW AS statement is part of the CreateViewTask - it will always work on every supported database. Though "CREATE VIEW" is the same on all supported databases, it is already different if y

[2020-09-14 06:38] frefardt commented on #76
Hi Andreas

Thanks for pointing out the SqlTask.Execute() method. I didn't know about it.

A new property `string AdditionalOptions` would of course be nice to have to define the part after the CREATE VIEW statement.

The idea behind passing the ConnectionManagerType to the method is to check wheter or not the connection used to execute a custom SQL statement is suitabel. For example when I use `S

[2020-09-15 20:27] andreaslennartz commented on #76
Hi Florian,

I would look into adding the `AdditonalOptions` property. I will keep you updated on the progress here.

Regarding passing the ConnectionManagerType:
If you want to check if the connection manager you are passing into the a task or component is of particular kind, I would recommend to use a code like this:
[code]
Of course you could write your own wrapper class for this kind of checks

[2020-09-16 10:56] frefardt commented on #76
Hi Andreas

That sounds plausible, I will just wrapp your class and handle it there. Thanks for your feedback.

Regards Florian

[2020-09-23 11:18] frefardt opened #77 "BothMatchFunc expects a bool as return value"
Hi Andreas

I am using MergeJoin and the ComparisonFunction (named BothMatchFunc). As I understand from the description and also the current code it expects an int as return value. But currently it asks me for a bool. Can you explain why?

[code]

I am on version 2.1.1.

Regards Florian

[2020-09-23 15:55] frefardt opened #78 "AggregateColumn and how to use it"
Hi Andreas

I'm currently struggling with the Aggregation Transformation. I would like to set an AggregatedColumn like this within a Aggregation:

`AggregateColumn aggregateColumn = new AggregateColumn("Col2", AggregationMethod.Sum);`

But I can't find a way to do that. What am I missing?

Regards Florian

[2020-09-24 14:21] andreaslennartz commented on #73
Hi @gjvanvuuren ,
just released version 2.1.2 which contains the improved MergeJoin:  https://www.nuget.org/packages/ETLBox/
It does now accept a ComparisonFunc as decribed before.
 I updated the docu as well: https://etlbox.net/articles/transformations/broadcast_merge_join.html

[2020-09-24 14:21] #73 closed

[2020-09-24 14:24] andreaslennartz commented on #75
Hi @frefardt ,
I just uploaded a new version 2.1.2 (https://www.nuget.org/packages/ETLBox/2.1.2) which contains a new transformation: ColumnRename. It allows you to rename columns or properties.
I also updated the documentation: https://etlbox.net/articles/transformations/row_manipulations.html#columnrename
I will try to improve the example code in the next time, but it should give you the general

[2020-09-24 14:24] #75 closed

[2020-09-24 14:29] andreaslennartz commented on #76
Hi @frefardt ,

version 2.1.2 now contains an improved CreateViewTask: https://etlbox.net/api/ETLBox.ControlFlow.Tasks.CreateViewTask.html#ETLBox_ControlFlow_Tasks_CreateViewTask_ViewAttributes

 It now has property ViewAttributes -
any string added here (e.g. ViewAttributes = "WITH SCHEMABINDING" ) will create a view code with this string between the CREATE VIEW and AS statement.

[code]

[2020-09-24 14:29] #76 closed

[2020-09-24 14:34] andreaslennartz commented on #77
Hi @frefardt ,

sorry for the inconvenience. Version 2.1.1 does not properly implement the functionality to match records in the MergeJoin.

Please upgrade to version 2.1.2. Tje initial idea of a BothMatchFunc didn't really work out. The MergeJoin needs Comparison function if you don't want to join always both records.
I updated the documentation describing the MergeJoin a lot, it should give you

[2020-09-24 14:38] andreaslennartz commented on #78
Hi @frefardt ,

thanks for the question.
The AggregateColumn is actually an attribute which you place before properties.
So it can't be added to Aggregation transformation directly (yet).
Actually I will think about it if this is a use case I want to support - that you can pass aggregate columns to the Aggregation directly.

Anyways, I updated the documentation for the Aggregation a lot, it now sh

[2020-09-24 17:37] frefardt commented on #77
Hi @andreaslennartz

I just upgraded to version 2.1.1. After a quick fix for the ComparisonFunc for the MergeJoin my code compiled and run.  I will have a more detailed look into the new documentation tomorrow. Thanks for your work, it's very much apprechiated!

regards Florian

[2020-10-02 09:25] andreaslennartz commented on #78
Hi  @frefardt ,

thanks to your suggestion, I am currently working on adding two new Properties to the Aggregation:

[code]
This will allow you to pass a list of AggregateColumn and GroupColumn to the Aggregation.This will work with ExpandoObjects as well. It is probably easier to use than working with the AggregationAction / GroupingFunc / StoreKeyAction.

I'll keep you updated on the progress.

[2020-10-02 09:26] andreaslennartz commented on #77
Hi @frefardt ,

I assume this is working for you now? I will close this issue then, feel free to reopen if things don't work as expected.

[2020-10-02 09:26] #77 closed

[2020-10-05 08:50] frefardt commented on #75
Hi @andreaslennartz
This works fine for me now. Thanks for this feature and the documentation, highly appreciated.

Florian

[2020-10-05 08:51] frefardt commented on #76
Thanks Andreas for the ViewAttribute. Works fine for me.

[2020-10-05 08:57] frefardt commented on #78
Hi @andreaslennartz

This would be super comfortable and much easier to use in deed. I'm looking forward to this 👍.

Regards Florian

[2020-10-13 01:39] bxjg1987 opened #79 "How to support low version database, such as SQL Server 2005 2008"
By default (non customsource) sqlserver2008 Oracle11g is not supported in current tests, and SQL statements must be written manually

[2020-10-13 09:19] andreaslennartz commented on #79
Hi @bxjg1987 ,

Microsoft and Oracle do define main and extended support periods for their database products.
Sql Server 2005 & 2008 and Oracle 11g  are out of main support and also out of extended support.
ETLBox does only support databases that are still in main support. Of course many features of ETLBox will also work with older versions, as databases vendors always try to stay backward compati

[2020-10-13 09:19] #79 closed

[2020-10-13 09:21] andreaslennartz commented on #79
If you are in need of a custom-made solution with support for older databases, you can request an offer via mail@etlbox.net

[2020-10-14 01:30] bxjg1987 commented on #79
@andreaslennartz Thank you very much！I'm learning and testing etlbox。

[2020-10-14 03:35] bxjg1987 opened #80 "How to deal with auto increment ID after deleting and inserting in dbmerge?"
When dbmerge synchronizes data, the data that needs to be updated is first deleted and then inserted into the target database. If the ID in the target database is self growing, it may be referenced by other places. Does this situation cause problems?

[2020-10-14 15:02] andreaslennartz commented on #80
Hi @bxjg1987 ,

this is actually a good point. The DbMerge currently does ignore identity / auto increment columns. So the identity value can change,  and you are right that this can cause problems when this is column is referenced somewhere else.

I will need to revisit the current implementation, and check if there is a way that the identity column value can be preserved. Right now I am not sure

[2020-10-15 07:52] bxjg1987 commented on #80
Thank you for your reply! Availability should be superior to performance requirements. In addition, both the external and target data will arrive at memory first, and then compare, which is very memory consuming.

Whether you can add range limits to the source and target, making less data in memory.

or

All the data in the source are stored in the middle table (table provided by etlbox) and only

[2020-10-16 20:52] andreaslennartz commented on #80
Hi @bxjg1987 ,

thanks for you input. That are quite good points you make here.
You are right, the DbMerge does store the whole destination in memory and performs the whole merge operations in memory before they are actually written back into the destination.
Having a persistence layer in between would surely reduce the memory consumption, but on the other hand it would decrease performance at lot

[2020-10-23 15:43] andreaslennartz commented on #78
Hi @frefardt ,

thanks for you feedback. I just released version 2.1.3: https://www.nuget.org/packages/ETLBox/2.1.3
This version allows you to pass AggregateColumn / GroupColumn as object to the AggregateColumns / GroupColumns property of the aggregate.
I also updated the documentation how to use this: https://etlbox.net/articles/transformations/aggregating_data.html#define-aggregationcolumns-with

[2020-10-23 15:43] #78 closed

[2020-10-26 11:23] frefardt commented on #78
Hi @andreaslennartz

This works like a charm for both whole columns and (more importantly) grouping columns. This makes it so much easier for me to deal with aggregates.
Thanks a lot Andreas!

Regards Florian

[2020-10-27 13:29] arsen1991 opened #81 "EtlBox does Delete/Insert during Merge Task"
EtlBox does Delete and Insert during Merge Task. That brings an error during Delete when there are foreign keys. We made this test for Postgres.

I think EtlBox should make Update instead of Delete/Insert in order to prevent foreign key errors.

[2020-10-27 19:04] roadrunnerlenny commented on #81
Hi @arsen1991 ,

Thanks for your feedback and your suggestion.
Yes, the DBMerge currently
 converts updates into delete/inserts.
The reason is that incoming data needs to be inserted into the target in batches. This is due to performance reasons: having a single insert/update or delete statement for every row would be very time consuming. So the DBMerge can only work properly and fast for big amou

[2020-11-06 02:47] Qlimax2009 opened #82 "Question:Multi transform"
I want to divide a table into two.
[code]

When I ran this,`rowTrans1 ` worked, but `rowTrans2` did not work.
Is this a bug? or there is a another way to reach my goal.
Thank in advance.

[2020-11-06 12:12] andreaslennartz commented on #82
Hi @Qlimax2009 ,

thanks for using ETLBox.
This is actually not a bug, but the expected behavior by design. ETLBox can't tell by the code if you want to broadcast or split your data. If a source is linked to multiple targets without any predicates, all data is send to the first target that was linked to source. To duplicate your data, you simply need to add a Multicast directly after your source.

[2020-11-07 06:35] Qlimax2009 commented on #82
Thank you for your reply.
It works.
I read it before, but I didn't look at it carefully. That's my fault.
Thanks again.

[2020-11-07 06:35] #82 closed

[2020-11-17 19:47] andreaslennartz commented on #80
Hi @bxjg1987 ,

I just released version 2.2.0 (https://www.nuget.org/packages/ETLBox/2.2.0) which contains an updated DbMerge. The merge now perform bulk update operations instead of delete/inserts. This will now also work with identity columns, as the update won't  touch this column anymore.

Unfortunately, I wasn't able to implement a solution for the memory consumption yet. The current version

[2020-11-17 19:48] andreaslennartz commented on #81
Hi @arsen1991 ,

I just released version 2.2.0 (https://www.nuget.org/packages/ETLBox/2.2.0). The DbMerge now performs bulk update operations instead of delete/inserts.

So you shouldn't get any foreign key errors anymore when using the DbMerge.

[2020-11-17 19:48] #81 closed

[2020-11-28 08:59] Qlimax2009 opened #83 "Error in function BulkInsertData"
When ran a simple transform, It throws "Object must implement IConvertible".
I think it may caused by 'byte[]', When I try to transform a entity with 'byte[]' field, it happened.

[2020-11-28 15:10] andreaslennartz commented on #83
Hi @Qlimax2009 ,

Thanks for reporting this bug. I will try to reproduce this in my test environment.

A quick question about this; Are you using the DbDestination to write data into the database? could you tell me which  database you are using and what kind of data type the target column had you wanted to write the byte[] data into?

[2020-11-28 15:41] Qlimax2009 commented on #83
Thank you for your reply. I uesed the DbDestination to save data to postgre. The data type is bytea in postgre, and I used efcore to create the entity.

[2020-11-29 23:23] andreaslennartz commented on #83
Thanks for the details, that helped me to reproduce the issue. I was able to fix this, the next version will contain the fix. Probably I will do a release in the next couple of days, I'll keep you updated.

[2020-12-06 21:55] andreaslennartz commented on #83
Hi @Qlimax2009 ,

I just released version 2.2.3 (https://www.nuget.org/packages/ETLBox/2.2.3) which should now work smoothly with binary data and postgres. You should now be able to write a `byte[]` into a `bytea` column in Postgres.
Let me know if you encounter any issus!

[2020-12-06 21:55] #83 closed

[2020-12-16 05:49] bxjg1987 commented on #80
@andreaslennartz Thank you very much. I'm going to set a condition when I query data so that there is as little data in memory as possible.

[2020-12-16 05:49] #80 closed

[2020-12-23 09:43] Qlimax2009 opened #84 "Error with timespan in Postgres"
The etlbox can not write `timespan ` into a `interval ` column in Postgres.

[2020-12-23 22:51] andreaslennartz commented on #84
Hi,
thanks for reporting this bug. I was able to reproduce and fix it already. The fix will be part of the next version (likely 2.3.0). I will keep you updated when I release it.

[2020-12-24 08:54] Qlimax2009 commented on #84
I read some source code, why not separate the database operation(like `DataTypeConverter`,`BulkSqlGenerator`) from the project.  Modular design is easier to develop and maintain.Of course, this is just a suggestion.

[2020-12-27 19:24] andreaslennartz commented on #84
Hi @Qlimax2009 ,
thanks for your feedback. I am not quite sure if I fully understand your suggestion. What is a module for you? Are you thinking of a cleaner separation of the classes itself, or are you thinking of a different project? Database operations do sound a little bit like like "all-or-nothing" to me, could you describe a little bit more what you would put into this?

[2021-01-08 16:13] frefardt opened #85 "API Documentation on Website partly missing"
Under https://etlbox.net/api/ETLBox.DataFlow.html all the description for the connectors are missing. Can you please check and re-generate the API Documentation if needed.

Thanks and regards Florian

[2021-01-08 19:18] andreaslennartz commented on #85
Hi @frefardt ,

thanks for letting me know. I fixed the bug and regenerated the API documentation, it should now be complete again.
Thanks!

[2021-01-08 19:18] #85 closed

[2021-01-11 16:07] andreaslennartz commented on #84
HI @Qlimax2009 ,

just released version 2.3.0 (https://www.nuget.org/packages/ETLBox/2.3.0)
This will support to write timespan (clr type) into a postgres interval (db type).

[2021-01-11 16:07] #84 closed

[2021-01-11 16:10] andreaslennartz commented on #80
Hi @bxjg1987 ,

I just released version 2.3.0 (https://www.nuget.org/packages/ETLBox/2.3.0)
This version allows you to set the CacheMode to CacheMode.Partial on the DbMerge.
The merge operation will then load only data into memory which it needs for the currrent insert/udpate/delete operation.

[2021-01-15 13:43] arsen1991 opened #86 "Exception of jsonb type in PostgreSql"
We are getting the exception below while we trying to compare columns with jsonb type in PostgreSql:

System.AggregateException: One or more errors occurred. (42804: column "ResponsibleGaming" is of type jsonb but expression is of type text)

[2021-01-17 16:53] andreaslennartz commented on #86
Hi,

Thanks for reporting this bug. Could you give me some more details how to reproduce this error? E.g. which component(s) are you using, which data type and when this error occurs?

Thanks for efforts!

[2021-01-17 17:46] arsen1991 commented on #86
Hi!

We are getting this exception when the column has type 'jsonb' in PostgreSql.

[2021-01-17 18:30] andreaslennartz commented on #86
Hi,

Sorry for not being clear enough.

Could you either provide me a code example that creates the error, or could you tell me:

- you are saying that you are comparing something. Not quite sure what that means? how does your data flow look like? Is the error related to a DbDestination?
- if yes, how does your data object look like? Specifically, which CLR type does "ResponsibleGaming" have? Is i

[2021-01-17 18:37] arsen1991 commented on #86
Hi!

- We are using DbMerge to merge the data between 2 tables.
- ResponsibleGaming has object type in C# which mapped to ResponsibleGaming column with jsonb type in PostgreSql.

[2021-01-17 22:25] andreaslennartz commented on #86
Hi again,

could you give some more details about the exact object type of ResponsibleGaming in your POCO?
E.g.
you will have something like:
[code]

[2021-01-18 08:01] arsen1991 commented on #86
Hi!

We reproduced this case on simple tables. For example, we are trying to sync table1 between 2 databases where
CREATE TABLE public.table1 (
    id int4 NULL,
    col1 int4 NULL,
    col2 int4 NULL,
    colj jsonb NULL
);

The code is below:

var sourceCon = new PostgresConnectionManager("Server=localhost;Database=demo;User Id=postgres;password=postgres");
            var destCon = new Postgres

[2021-01-18 09:51] andreaslennartz commented on #86
Thanks! This example clarifies the bug.
I will look into this and keep you updated on the progress.

[2021-01-29 16:22] frefardt opened #87 "DbMerge (with ExpandoObject) and ChageDate/ChangeAction Properties"
Hi there

I have a DataFlow that reads data from a source and merges it into a database table. I therefore want to log what exactly happens per row and use the default properties ChangeDate and ChangeAction. That works as described and expected.

But. The log is not very helpful. I don't know exactly what row has been updated/inserted or deleted. It would be great to have 2 additional properties a

[2021-01-29 20:48] andreaslennartz commented on #87
Hi @frefardt ,

thanks for reporting this.
I am not quite sure if I understand what you actually need to have improved.
With "log", are you referring to the log output (product if you add a nlog.config with a target to your project) or the delta data that you consume from the DbMerge?
Please note that (starting with version 2.3.0) the delta list which was a property on the DbMerge is removed - you

[2021-01-30 08:50] frefardt commented on #87
Hi @andreaslennartz

Thanks for your help with this! I'm using the most current version of ETLBox; 2.3.0. In fact I was doing a similar example like you are mentioning above. And I now found the issue why I could not get the desired property fields in my table. The reason why is that I used the DbMerge connector instead of DbDestination to persist the results on the 'delta' table.

Now I discovere

[2021-01-30 09:51] andreaslennartz commented on #87
Hi @frefardt ,

so the first part of your request has basically been resolved?
Sure, I will look into this bug. Could you provide me some source/example code how the actual data flow looks like? I assume you are using strong typed objects (Pocos), so I also would be interested how your Pocos are defined?
This would help me to reproduce this bug in my test environment.

[2021-01-30 11:18] frefardt commented on #87
Hi @andreaslennartz

Exactly, the first part has been resolved.

Regarding the code. I use ExpandoObject and not Pocos. Therefore it is basicly the same like you wrote above, with the exeption that I read and write to SqlServer.

But here is the snipet where I link it all together and execute it.
[code]

Regards Florian

[2021-01-31 17:05] frefardt commented on #87
Hi @andreaslennartz

There was a bug in my code. I didn't realize that DbMerge is a 'special breed' in that sense that it implements IDataFlowDestination and **IDataFlowSource**. And I just treated it as a destination.

That now makes sense to me, because the result of the merge is treated as a destination and if you forward it to a 'delta' destination it has to be treated as a source.

I had to c

[2021-01-31 20:27] andreaslennartz commented on #87
Hi Florian,

thanks for the update.
Yes, the DbMerge is a little bit different than other connectors. If it is the placed at the end of your flow, it will behave like a destination. But if you link it to other components, then it will also work like a source (or it will actually behave like a transformation) - input data is then written into the target table of the DbMerge, but it will also send t

[2021-01-31 20:27] #87 closed

[2021-01-31 23:59] andreaslennartz commented on #86
Hi @arsen1991 ,
a quick update on this: I was able to reproduce and fix the bug. I will release the fix with next version, which I plan to release probably in 1 or 2 weeks. I'll add a comment when I released the new version.

[2021-02-01 10:50] arsen1991 commented on #86
Hi @andreaslennartz !
Thanks for support . We'll be waiting for the update .

[2021-02-16 19:23] andreaslennartz commented on #86
Hi @arsen1991 ,

I just released version 2.3.1 (along with Postgres connection manager 1.3.1)
This should solve your issue - jsonb data types should now be fully supported.
Let me know if you run into other problems.

[2021-02-16 19:23] #86 closed

[2021-04-06 12:18] zenglei286 opened #88 "Access index during Transformation"
how access index during Transformation

[2021-04-07 13:41] andreaslennartz commented on #88
Hi @zenglei286 ,
I don't understand your question.
Could you provide a lot more details, specifically:
- Some example code showing your current state?
- What are you missing?
- What do you want to achieve?
- What would be you preferred solution code-wise?

[2021-04-10 07:05] zenglei286 commented on #88
I want to page data from the data source or get the middle pieces of data

[2021-04-10 21:37] andreaslennartz commented on #88
Paging is available for all streaming source (JsonSource, CsvSource, XmlSource, ExcelSource, TextSource)

This allows you to create multiple calls to a http endpoint in order to receive all data.

E.g. your first request to an endpoint will be via a GET request to http://test.com/data?page=1. To receive all data, you will need to increase the page number and repeat the request until you don’t get

[2021-04-10 21:37] #88 closed

[2021-06-08 23:43] pvanroos opened #89 "Exception is thrown in TransformationFunc even though LinkErrorTo set for RowTransformation"
**Describe the bug**
Exception is thrown in TransformationFunc even though LinkErrorTo set for RowTransformation.

**Steps To Reproduce**
Follow steps in docs:

https://www.etlbox.net/docs/getting-started/linking/#handling-exceptions

**Actual behaviour**
Exception is thrown when it shouldn't.

**Expected behavior**
Exception should not be thrown and errors should flow into CsvDestination<ETLBoxEr

[2021-06-09 16:57] pvanroos commented on #89
I found my own problem with my code.  Sorry to open this.  I'm closing.

[2021-06-09 16:57] #89 closed

[2021-06-18 12:50] jalchr opened #90 "Q: How to override the identity column (SET IDENTITY_INSERT ON) ?"
Hi,
In Sql Server there is a way to override the identity column (SET IDENTITY_INSERT ON).
How to use this with DbMerge or DbDestination ?

I need to insert values into the identity column.
Please advise !

[2021-06-18 14:32] andreaslennartz commented on #90
Hi @jalchr ,

Thanks for using ETLBox.

The DbDestination has a property `KeepIdentity` - simply set it to true and the identity values should preserved when you insert data.

For the DBMerge this is not necessary. It should automatically detect if you are including an identity column.

I must admit that the documentation misses some details here.

Let me know if this solves your issue!

[2021-06-18 14:32] andreaslennartz commented on #90
Hi @jalchr ,

Thanks for using ETLBox.

The DbDestination has a property KeepIdentity - simply set it to true and the identity values should preserved when you insert data.

For the DBMerge this is not necessary. It should automatically detect if you are including an identity column.

I must admit that the documentation misses some details here.

Let me know if this solves your issue!

[2021-06-18 18:55] jalchr commented on #90
Hi @andreaslennartz, amazing library !

Your tip should solved this issue. Yes, it would be awesome to have such info in the documentation or may be renamed to "AllowIdentityInserts" is more self-explanatory

[2021-06-19 12:28] andreaslennartz commented on #90
Thanks for the feedback! Extending the documentation is added to my list, and I will review the naming of the property for the next version. AllowIdentityInsert as new name is a very good suggestion.

[2021-08-04 18:46] andreaslennartz commented on #90
I renamed the property based on your suggestion (starting with 2.4.4)
Documentation update will follow. Thanks for your feedback!

[2021-08-04 18:46] #90 closed

[2021-10-04 07:13] fabiocbr75 opened #91 "Is ETLbox under MIT License?"
Hello,
I don't understand the license type?
In the root of the git project, there is the MIT License file, but in the ETLbox folder (where there is the source code), there is a completely different license.

Can you explain better? Is it or not under MIT License?

Thanks

[2021-10-04 08:44] andreaslennartz commented on #91
Hello @fabiocbr75 ,
thanks for raising this issue.
ETLBox was open source in the past, and licensed under MIT. But due to too few contributions I decided to change it to closed source.
The code in this public repo only contains a small subset of the functionalities. So far, I have kept it as a reference for the forks, and "kept it alive" by copying some of the changes to the closed source version

[2021-10-04 12:03] #91 closed

[2021-11-02 07:37] frefardt opened #92 "Logging of Load Processes breaks in 2.5.1"
Hi Andreas

When I update from 2.4.4 to 2.5.1 the logging part in my code breaks. The following classes are not known:

- StartLoadProcessTask
- AbortLoadProcessTask
- EndLoadProcessTask

For example in my code this would not compile anymore.

Did you change this part? Do I have to change my code?

Regards Florian

[2021-11-02 16:07] andreaslennartz commented on #92
Hi @frefardt ,

thanks for reporting this.
There were "breaking changes" regarding logging introduced in version 2.5.0:  (see also https://www.etlbox.net/support/release-notes/)

- DataFlow.LoggingThresholdRows renamed to LogThreshold
- Combining CreateLogTable and ReadLogTable tasks into LogTask (e.g. use LogTask.CreateLogTable(..) instead)
- Introducing structured logging - core package now supp

[2021-11-03 06:53] frefardt commented on #92
Hi @andreaslennartz

Thanks for your reply. This is very helpful.
I will be working on the logging part next week and migrate my solution to 2.5.1. An update of the documentation would be helpful of course :-). If I run in any sort of trouble during my changes I will let you know of course.

Regards Florian

[2021-11-03 09:23] andreaslennartz commented on #92
Sure, just let me know if you need support.
The documentation is already updated, let me know if you find any flaws (the website is now also in a public repository: https://github.com/etlbox/etlbox.website

[2021-11-03 09:23] #92 closed